/*透明弹框主题*/
.layui-layer-transparent{background-color: transparent !important;}
.layui-layer-transparent iframe{background: transparent;}

/*上传进度*/
.progress-box{width: 100%;height: 100%;background: rgba(0,0,0,0.8);z-index: 1000;position: fixed;top: 0;left: 0;}
.layui-progress-box{width: 4.2rem;height: .1rem;padding: .03rem;position: absolute;left: 0;top: 0;bottom: 0;right: 0;margin: auto auto;}
.layui-progress-box,.layui-progress,.layui-progress-bar{border-radius: .08rem;}
.layui-progress{width: 100%;}
.layui-progress-box,.layui-progress{background-color: #414242;}
.layui-progress,.layui-progress-bar{height: 100%;}
.layui-progress-bar{background-color: #07A6FF;}
.layui-progress-text{font-size: .18rem;line-height: .18rem;font-family: 微软雅黑;color: #07A6FF;position: absolute;top: -0.3rem;right: 0;}

/*时间控件*/
.layui-laydate{border: 0.01rem solid rgba(7,166,255,0.6) !important;background-color: #052f5d !important;color: #fff !important;}
.layui-laydate-header{border-bottom: 0.01rem solid rgba(7,166,255,0.6) !important;}
.layui-laydate span,.layui-laydate i{color: #fff !important;}
.layui-laydate-content th,.layui-laydate-content td{color: #fff !important;}
.layui-laydate-content .laydate-day-next, .layui-laydate-content .laydate-day-prev{color: #666 !important;}
.layui-laydate-content td:hover,.layui-laydate .layui-laydate-content .layui-this,.layui-laydate-list ol li:hover{background-color: #07a6ff !important;}
.layui-laydate-footer{border-top: 0.01rem solid rgba(7,166,255,0.6) !important;}
.laydate-footer-btns span{border: none !important;background: none !important;}
.layui-laydate-list{background-color: #052f5d !important;}
.layui-laydate-list li:hover{color: #fff !important;}
.layui-laydate-list li ol{border: none !important;}

/*confirm框*/
.layui-layer-dialog-confirm{background-color: #052f5d !important}
.layui-layer-dialog-confirm .layui-layer-content{color: #fff !important;}

/*按钮*/
.layui-layer-btn a{height: auto !important;padding: .07rem .17rem !important;border-radius: .04rem !important;font-size: .16rem !important;line-height: .16rem !important;font-family: 微软雅黑 !important;border: none !important;background-color: rgba(7,166,255,0.2) !important;color: #fff !important;}
.layui-layer-btn a:first-child{background-color: #07a6ff !important;}
.layui-layer-btn a:hover{opacity: 1 !important;}

/*树形组件*/
.layui-tree{font-size: .16rem;line-height: .32rem;font-family: 微软雅黑;}
.layui-tree-entry{padding: 0rem;height: auto;overflow: hidden;}
.layui-tree-entry:hover {background-color: transparent;}
.layui-tree-main{padding-right: 0rem;}
.layui-tree-iconClick{height: auto;margin: 0rem .2rem 0rem 0rem;position: relative;}
.layui-tree-iconArrow{padding: 0rem;}
.layui-tree-iconArrow:after{top: 0;left: 0;bottom: 0;right: 0;margin: auto auto;border-width: .08rem;border-color: transparent transparent transparent #fff;}
.layui-tree-spread>.layui-tree-entry>.layui-tree-main>.layui-tree-iconClick>.layui-tree-iconArrow:after{border-top-width: .08rem;border-bottom-width: 0rem;border-color: #fff transparent transparent transparent;}
.layui-tree-txt{color: #fff;}
.layui-tree-entry:hover .layui-tree-txt,.layui-tree-checkedFirst .layui-tree-txt{color: #07A6FF;}
.layui-tree-pack{padding-left: .2rem;}

/*主页面的最外框*/
.kjy-box{width: 100%;overflow: hidden;}
.kjy-flex-box{height: 100%;overflow-y: auto;position: absolute;top: 0;left: 0;display:flex;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;-webkit-flex-direction: column;-moz-flex-direction: column;-ms-flex-direction: column;-o-flex-direction: column;flex-direction: column;}
.kjy-content-box{width: calc(100% - .9rem);width: -moz-calc(100% - .9rem);width: -webkit-calc(100% - .9rem);height: calc(100% - 1rem);height: -moz-calc(100% - 1rem);height: -webkit-calc(100% - 1rem);padding: .44rem .45rem .36rem;background: url(../img/common/content-box.png) no-repeat;background-size: 100% 100%;}
[v-cloak]{display:none}

/*全屏*/
.full-height-box{height: 100% !important;}
.full-width-box{width: 100% !important;}
.full-width-box input{width: 100% !important;}
.full-box{width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.img-box{width: auto;height: 100%;border-radius: 0.04rem;overflow: hidden;position: relative;}
.img-box img{width: 100%;height: auto;position: absolute;top: 0;left: 0;bottom: 0;right: 0;margin: auto auto;}

/*动画方向*/
.transform-origin-top{-webkit-transform-origin: center top;-moz-transform-origin: center top;-o-transform-origin: center top;-ms-transform-origin: center top;}
.transform-origin-bottom{-webkit-transform-origin: center bottom;-moz-transform-origin: center bottom;-o-transform-origin: center bottom;-ms-transform-origin: center bottom;}
.transform-origin-left{-webkit-transform-origin: left center;-moz-transform-origin: left center;-o-transform-origin: left center;-ms-transform-origin: left center;}
.transform-origin-right{-webkit-transform-origin: right center;-moz-transform-origin: right center;-o-transform-origin: right center;-ms-transform-origin: right center;}

/*动画*/
.rotate-animate{-webkit-animation: rotateAnimate 4s linear 0s infinite normal;-moz-animation: rotateAnimate 4s linear 0s infinite normal;-ms-animation: rotateAnimate 4s linear 0s infinite normal;-o-animation: rotateAnimate 4s linear 0s infinite normal;}

/*立面旋转*/
@-webkit-keyframes rotateAnimate{
	0%{-webkit-transform: rotateZ(0deg);}
	100%{-webkit-transform: rotateZ(360deg);}
}
@-moz-keyframes rotateAnimate{
	0%{-moz-transform: rotateZ(0deg);}
	100%{-moz-transform: rotateZ(360deg);}
}
@-o-keyframes rotateAnimate{
	0%{-o-transform: rotateZ(0deg);}
	100%{-o-transform: rotateZ(360deg);}
}
@-ms-keyframes rotateAnimate{
	0%{-ms-transform: rotateZ(0deg);}
	100%{-ms-transform: rotateZ(360deg);}
}

/*页面标题*/
.kjy-title-box{width: 100%;height: calc(100%*25/930);height: -moz-calc(100%*25/930);height: -webkit-calc(100%*25/930);position: absolute;top: 0;left: 0;}
.kjy-title-text{width: 100%;font-size: .2rem;line-height: 100%;font-family: 微软雅黑;color: #34e4ff;text-align: center;}

/*定位*/
.position-top{position: absolute;top: 0;left: 0;right: 0;margin: auto auto;}
.position-bottom{position: absolute;bottom: 0;left: 0;right: 0;margin: auto auto;}
.position-left{position: absolute;top: 0;bottom: 0;left: 0;margin: auto auto;}
.position-right{position: absolute;top: 0;bottom: 0;right: 0;margin: auto auto;}
.position-center{position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto auto;}
.position-left-top{position: absolute;top: 0;left: 0;}
.position-left-bottom{position: absolute;bottom: 0;left: 0;}
.position-right-top{position: absolute;top: 0;right: 0;}
.position-right-bottom{position: absolute;bottom: 0;right: 0;}
.position-transform-vertical{position: relative;top: 50%;left: 0;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-o-transform: translateY(-50%);-ms-transform: translateY(-50%);}
.position-transform-level{position: relative;top: 0;left: 50%;-webkit-transform: translateX(-50%);-moz-transform: translateX(-50%);-o-transform: translateX(-50%);-ms-transform: translateX(-50%);}
.position-transform-all{position: relative;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);}

/*图标*/
.icon{cursor: pointer;background-repeat: no-repeat;background-position: center center;background-size: 100% 100%;}
.icon-account{background-image: url(../img/icon/icon-account.png);}
.icon-password{background-image: url(../img/icon/icon-password.png);}
.icon-token{background-image: url(../img/icon/icon-token.png);}
.icon-check-box,.icon-radio-box{width: .16rem;height: .16rem;background-color: #fff;}
.icon-check-box{border-radius: .04rem;}
.icon-radio-box{border-radius: 50%;}
.icon-del-range{background-image: url(../img/icon/icon-del-range.png);}
.icon-opera-add{background-image: url(../img/icon/icon-add.png);}
.icon-opera-reduce{background-image: url(../img/icon/icon-reduce.png);}
.icon-arrow-up{background-image: url(../img/icon/icon-arrow-up.png);}
.icon-arrow-down{background-image: url(../img/icon/icon-arrow-down.png);}
.icon-surveillance{background-image: url(../img/icon/icon-surveillance.png);}
.icon-select-time{background-image: url(../img/icon/icon-select-time.png);}
.icon-search{background-image: url(../img/icon/icon-search.png);}
.icon-fold-no-open{background-image: url(../img/icon/icon-fold-no-open.png);}
.icon-fold-open{background-image: url(../img/icon/icon-fold-open.png);}
.icon-checked,.icon-radio-checked{background-color: rgba(255, 255, 255, 0);}
.icon-checked{background-image: url(../img/icon/icon-checked.png);}
.icon-radio-checked{background-image: url(../img/icon/icon-radio-checked.png);}
.icon-no-data{background-image: url(../img/common/no-data.png);}
.icon-temperature{background-image: url(../img/index/icon-temperature.png);}
.icon-Surplus-electrical{background-image: url(../img/index/icon-Surplus-electrical.png);}
.icon-Voltage{background-image: url(../img/index/icon-Voltage.png);}
.icon-electrical{background-image: url(../img/index/icon-electrical.png);}
.decorate-left-top{background-image: url(../img/common/decorate-left-top.png);}
.decorate-left-bottom{background-image: url(../img/common/decorate-left-bottom.png);}
.decorate-right-top{background-image: url(../img/common/decorate-right-top.png);}
.decorate-right-bottom{background-image: url(../img/common/decorate-right-bottom.png);}
.cut-line-bg{background-image: url(../img/common/cut-line.png);background-repeat: no-repeat;background-size: 100% 100%;}
.mask-cut-line-bg{background-image: url(../img/common/mask-cut-line.png);background-repeat: no-repeat;background-size: 100% 100%;}
.month-summary-alarm{background-image: url(../img/index/month-summary-alarm.png);}
.month-summary-fault{background-image: url(../img/index/month-summary-fault.png);}
.month-summary-low-pressure{background-image: url(../img/index/month-summary-low-pressure.png);}

/*公共布局*/
input,select,textarea{border: none;background-color: rgba(7, 166, 255,0.2);text-indent: .1rem;}
.column-list-box{width: auto;overflow: hidden;float: left;}
.column-list-width-25{width: 25%;}
.column-list-width-50{width: 50%;}
.margin-top-16{margin-top: .16rem;}
.row-list-box,.row-list-inner-box,.row-list-content-box,.row-list-title-box{overflow: hidden;position: relative;}
.row-list-box,.row-list-content-box,.row-list-title-box{width: 100%;}
.row-list-box{float: left;margin-bottom: .3rem;}
.row-list-inner-box{width: auto;margin: 0rem .1rem;}
.row-list-title-box{width: 100%;height: .32rem;margin-bottom: .2rem;background: url(../img/common/title-decorate.png) center bottom no-repeat;background-size: 100% .18rem;}
.row-list-small-title{background-image: url(../img/common/title-decorate-small.png);}
.row-list-title-text{width: 100%;font-size: .2rem;line-height: .2rem;font-family: 微软雅黑;color: #fff;}
.row-list-content-box{background-color: rgba(0,186,255,0.102);}
.row-list-content-inner-box{width: auto;position: relative;}
.row-list-height-269{height: 2.69rem;}
.row-list-height-277{height: 2.77rem;}
.row-list-height-168{height: 1.68rem;}
.row-list-height-664{height: 6.64rem;}
.row-list-search-box{width: auto;height: .24rem;}
.row-list-search-box select{width: .68rem;height: 100%;float:right;border-radius: .12rem;font-size: .14rem;line-height: .24rem;font-family: 微软雅黑;color:#fff;}
.decorate-list{width: .12rem;height: .12rem;background-repeat: no-repeat;background-position: center center;background-size: 100% 100%;}
.decorate-left-top,.decorate-left-bottom{left: -0.01rem;}
.decorate-left-top{top: -0.01rem;}
.decorate-left-bottom{bottom: -0.01rem;}
.decorate-right-top,.decorate-right-bottom{right: -0.01rem;}
.decorate-right-top{top: -0.01rem;}
.decorate-right-bottom{bottom: -0.01rem;}
.grade-text-color0{color: #ffc703 !important;}
.grade-text-color1{color: #ff5400 !important;}
.grade-text-color2{color: #fe0202 !important;}
.state-text-color0{color: #1e95ff !important;}
.cut-line{width: 100%;height: .02rem;background-repeat: no-repeat;background-size: 100% 100%;}
.no-border{border: none !important;}
.mask-list-value .position-right,.search-value .position-right{right: .1rem;}
.hide-box{display: none;}
/*mask-value-list列表*/
.width-168{width: 1.68rem !important;}
/*数字*/
.width-124{width: 1.24rem !important;}
/*时间选择*/
.width-150{width: 1.5rem !important;}

/*无缝滚动*/
.scroll-box{width: 100%;height: 100%;overflow: hidden;position: relative;}
.scroll-title-box,.scroll-content-inner-box ul{width: auto;padding: 0rem .2rem;overflow: hidden;}
.scroll-title-box{border-bottom: .01rem solid rgba(0, 118, 180, 0.5);}
.scroll-title-box li,.scroll-content-inner-box li{width: auto;float: left;font-family: 思源黑体;text-align: left;position: relative;}
.scroll-title-box li{font-size: .16rem;line-height: .44rem;color: #00d7f1;}
.scroll-content-inner-box li{font-size: .14rem;line-height: .3867rem;}
.scroll-content-box{width: 100%;height: calc(100% - .45rem);height: -webkit-calc(100% - .45rem);height: -moz-calc(100% - .45rem);overflow: hidden;position: relative;}
.scroll-content-inner-box{width: 100%;overflow: hidden;position: relative;}
.scroll-content-inner-box li{color: #fff;}
.scroll-content-inner-box li,.scroll-content-inner-box p{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.scroll-content-inner-box .text-box{width: auto;float: left;overflow: hidden;background-repeat: no-repeat;background-position: right center;background-size: .1rem .13rem}
.scroll-content-trend{padding-right: .15rem;}

/*页面导航菜单*/
.tab-list-box{width: 100%;margin-bottom: .24rem;}
.tab-list-box li{cursor: pointer;width: auto;padding: .19rem .34rem;margin-right: .06rem;float: left;font-size: .2rem;line-height: .2rem;font-family: 微软雅黑;color: #fff;background-image: url(../img/common/tab-list-bg.png);background-repeat: no-repeat;background-size: 100% 100%;}
.tab-list-box li:last-child{margin: 0rem;}
.tab-list-box .selected{color: #07a6ff;background-image: url(../img/common/tab-list-select-bg.png);}
.tab-content-box{width: 100%;height: 100%;overflow: hidden;}
.tab-content-box iframe{width: 100%;height: 100%;}

/*弹框*/
.mask-box,.mask-inner-box{overflow: hidden;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto auto;}
.mask-box{background-image: url(../img/common/mask-bg.png);background-repeat: no-repeat;background-position: center center;background-size: 100% 100%;}
.mask-inner-box{padding: .8rem .4rem;}
.mask-content-box{width: auto;height: calc(100% - .68rem);height: -moz-calc(100% - .68rem);height: -webkit-calc(100% - .68rem);overflow: auto;position: relative;}
.mask-row-list{width: 100%;overflow: hidden;}
.mask-list{width: auto;float: left;margin-bottom: .2rem;}
.mask-list:last-child{margin-bottom: 0;}
.mask-list-name{width: 1.2rem;float:left;font-size: .16rem;line-height: .3rem;font-family: 微软雅黑;color: #fff;text-align: right;}
.mask-list-value{width: auto;float: left;position: relative;}
.mask-list-value input,.mask-list-value select,.mask-list-value textarea{height: .3rem;font-size: .16rem;line-height: .3rem;font-family: 微软雅黑;color: #fff;border-radius: .04rem;}
.mask-list-value input{width: 2.5rem;}
.mask-list-value select{width: 1.5rem;}
.mask-list-value textarea{width: 2.5rem;height: 1rem;}
.mask-list-value .icon{width: .16rem;height: .16rem;background-size: 100% auto;}
.mask-list-value .icon-del-range{width: .14rem;height: .14rem;position: absolute;top: -.07rem;right: -.07rem;}
.mask-value-list-box{width: auto;}
.mask-value-list{width: auto;height: .3rem;margin-bottom: .18rem;position: relative;}
.mask-value-list:last-child{margin-bottom: 0;}
.mask-list-value-text{width: 1.75rem;height: 100%;font-size: .16rem;line-height: .3rem;font-family: 微软雅黑;color: #fff;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.mask-box .cut-line{margin: .2rem auto .3rem;}
.mask-unit-box{width: auto;height: 100%;float: left;margin-left: .1rem;font-size: .16rem;line-height: .3rem;font-family: 微软雅黑;color: #fff;}
.mask-title-box{width: 100%;font-size: .18rem;line-height: .18rem;font-family: 微软雅黑;color: #fff;text-align: center;}
.mask-textarea-box{width: 3.88rem;height: .88rem;padding: .16rem;border-radius: .04rem;background-color: rgba(1, 60, 98, 0.6);font-size: .16rem;line-height: .24rem;font-family: 微软雅黑;color: #fff;}
.mask-list-value .img-box{width: 1.2rem;height: 1.2rem;float: left;margin-right: .3rem;}
.mask-list-value .img-box:last-child{margin-right: 0;}
.mask-box .btn-box{overflow: hidden;}
.mask-box .btn-inner-box{margin: .38rem 0rem 0rem 0rem;}
.mask-box .btn{float: right;margin-right: 0;margin-left: .3rem;}
.mask-box .btn:last-child{margin-left: 0;}
.mask-list .btn-box{float: left;}
.mask-list .btn{padding: .07rem .09rem;}
.mask-list .btn-inner-box{margin: 0rem 0rem 0rem .3rem;}
.mask-select-box{width: 2.88rem;padding: .2rem .2rem 0rem;border-radius: .04rem;background-color: rgba(1, 60, 98, 0.6);overflow: hidden;}
.mask-select-box li{width: 50%;margin-bottom: .2rem;float: left;font-size: .16rem;font-family: 微软雅黑;color: #fff;text-indent: .26rem;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;position: relative;}
.mask-list-value .speed-box{margin: .2rem 0rem 0rem .08rem;}

/*进度*/
.speed-box{width: auto;}
.speed-list-box{width: 100%;position: relative;}
.speed-list-box .icon-speed-circle,.speed-list-box .icon-speed-select-circle{border-radius: 50%;position: absolute;}
.speed-list-box .icon-speed-circle{width: 6px;height: 6px;background-color: #016ca7;top: -3px;left: -2.5px;}
.speed-list-box .icon-speed-select-circle{width: 10px;height: 10px;background: url(../img/icon/icon-speed-select-circle.png) no-repeat;background-size: 100% 100%;top: -5px;left: -4.5px}
.speed-list-inner-box{width: auto;padding: 0px 0px 16px 16px;border-left: 1px solid #035979;}
.speed-list-box:last-child .speed-list-inner-box{padding-bottom: 0px;border: none;}
.speed-list-inner-box p{width: 100%;margin-bottom: 10px;font: 12px/12px 微软雅黑;color: #fff;}
.speed-list-inner-box p:first-child{color: #07a6ff;}

/*范围框*/
.range-box{width: 4rem;height: 1rem;padding: .1rem;border-radius: .04rem;background-color: rgba(1, 60, 98, 0.6);overflow: auto;}
.range-box li{width: auto;padding: .04rem .15rem;margin-right: .18rem;margin-bottom: .18rem;float: left;border-radius: .04rem;border: .01rem solid rgba(255, 255, 255, 0.6);font-size: .16rem;line-height: .16rem;font-family: 微软雅黑;color: #fff;position: relative;}
.range-box li:last-child{margin-right: 0;}

/*报警详情*/
.event-info-box{width: 100%;overflow: hidden;}
.event-info-img-box{width: 3.02rem;height: 3.02rem;float: left;border-radius: .04rem;border: .01rem solid rgba(7,166,255,0.2);position: relative;}
.event-info-content-box{width: 2.66rem;overflow: hidden;float: right;position: relative;}
.event-info-content-box .text-box{width: 100%;overflow: hidden;}
.event-info-content-box p{width: 100%;margin-bottom: .4rem;font-size: .16rem;font-family: 微软雅黑;color: #fff;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.event-info-content-box p:last-child{margin-bottom: 0;}
.event-info-box .swiper-pagination-bullet{width: .3rem;height: .08rem;border-radius: .03rem;background: rgba(255, 255, 255, 0.5);}
.event-info-box .swiper-pagination-bullet-active{background: #fff;}

/*轮播图*/
.swiper-container{width: 100%;height: 100%;overflow: hidden;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin: 0px 5px;}

/*搜索按钮区域*/
.btn-box{width: auto;}
.btn-inner-box,.search-btn-box{width: auto;margin-bottom: .3rem;overflow: hidden;}
.search-btn-box{float: left;}
.btn{cursor:pointer;padding: .07rem .34rem;float: left;margin-right: .3rem;border-radius: .04rem;font-size: .16rem;line-height: .16rem;font-family: 微软雅黑;color: #fff;background-color: rgba(7,166,255,0.2);}
.btn:first-child{background-color: #07a6ff;}
.btn:last-child{margin-right: 0rem;}
.disabled-btn{background-color: #eaeaea;}
.btn a{width: 100%;height: 100%;color: #fff;text-align: center;}

/*搜索部分*/
.search-box{width: 100%;}
.search-inner-box{width: 100%;overflow: hidden;}
.search-row-box{width: 100%;margin-bottom: .3rem;overflow: hidden;position: relative;}
.search-row-box:last-child{margin-bottom: 0rem;}
.opera-left-box .search-row-box{height: .3rem;}
.search-list{width: auto;height: .3rem;float: left;margin-right: .5rem;margin-bottom: .3rem;overflow: hidden;}
.search-list:last-child{margin-right: .8rem;}
.search-name,.search-box input,.search-box select{font-size: .16rem;line-height: .3rem;font-family: 微软雅黑;color: #fff;}
.search-name{width: auto;height: 100%;float:left;text-align: left;}
.search-value{width: auto;height: 100%;float:left;position: relative;}
.search-box input,.search-box select{height: 100%;border-radius: .04rem;}
.search-box input{width: 1.8rem;}
.search-box select{width: 1.2rem;}
.search-box .icon{width: .18rem;height: 100%;background-size: 100% auto;}
.search-value-list-box {width: auto;overflow: hidden;float: left;}
.search-value-list-box li{cursor: pointer;width: auto;padding: 0rem .2rem;margin-right: .2rem;float: left;font-size: .16rem;line-height: .3rem;font-family: 微软雅黑;color: #fff;}
.search-value-list-box li:last-child{margin-right: 0rem;}
.search-value-list-box .selected{background-color: rgba(7,166,255,0.2);border-radius: .04rem;color: #07a6ff;}

/*表格,数据区域*/
.kjy-data-box{width: 100%;height: 100%;overflow: hidden;background-color: rgba(7,62,111,0.15);position: relative;}
.kjy-data-inner-box{width: 100%;height: 100%;overflow: hidden;}
.kjy-table{width: auto;height: calc(100% - .9rem);height: -moz-calc(100% - .9rem);height: -webkit-calc(100% - .9rem);overflow: auto;position: relative;}
.kjy-table table{width: auto;min-width:100%;border-spacing: initial;border-collapse: collapse;overflow: hidden;}
.kjy-table table thead,.kjy-table table tbody{width: 100%;overflow: hidden;position: relative;}
.kjy-table table th,.kjy-table table td{width: auto;height: .3rem;padding: .1rem .5rem .1rem 0rem;max-width: 2rem;font-size: .16rem;line-height: .3rem;font-family: 微软雅黑;color: #fff;text-align: left;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;position: relative;}
.kjy-table table th:first-child,.kjy-table table td:first-child{padding-left: .3rem;}
.kjy-table table th:last-child,.kjy-table table td:last-child{padding-right: 0rem;}
.kjy-table table th{background-color: rgba(0,117,169,0.15);color: rgba(7,166,255,0.8);font-weight: bold;}
.kjy-table .icon-check-box,.kjy-table .icon-radio-box{position: absolute;top: 0;bottom:0;left: .46rem;margin: auto auto;}
.kjy-table .padding-left-100{padding-left: 1rem !important;}
.kjy-table .opera-box{width: auto;overflow: hidden;}
.kjy-table .opera-box li{cursor: pointer;width: auto;padding-right: .2rem;margin-right: .2rem;float: left;overflow: hidden;border-right: .01rem solid #07a6ff;font-size: .16rem;line-height: .16rem;font-family: 微软雅黑;color: #07a6ff;}
.kjy-table .opera-box li:last-child{padding-right: 0rem;margin-right: 0rem;border: none;}
.kjy-table .opera-box li:hover{text-decoration: underline;}

/*分页*/
.page-box{width: 100%;overflow: hidden;}
.page-inner-box{padding: .3rem;overflow: hidden;}
.page-box .text-box,.page-box .opera-box div,.page-box .opera-box ul li{font-size: .14rem;font-family: 微软雅黑;color: #fff;}
.page-box .text-box{width: auto;float: left;height: 100%;line-height: .3rem;}
.page-box .text-box span{color: #07a6ff;}
.page-box .text-box:nth-child(1){float: left;}
.page-box .text-box:nth-child(2){float: right;margin-left: .1rem;}
.page-box .opera-box{width: auto;float: right;overflow: hidden;}
.page-box .opera-box div,.page-box .opera-box ul li{line-height: .14rem;float: left;border-radius: .04rem;background-color: rgba(7,62,111,0.6);}
.page-box .opera-box div{cursor: pointer;width: auto;padding: .08rem .2rem;}
.page-box .opera-box ul{width: auto;margin: 0rem .1rem;float: left;overflow: hidden;}
.page-box .opera-box ul li{cursor: pointer;padding: .08rem .12rem;margin-right: .1rem;text-align: center;}
.page-box .opera-box ul li:last-child{margin-right: 0rem;}
.page-box .opera-box ul .selected{background-color: #07a6ff;}

/*折叠面板*/
.fold-box{width: 100%;overflow: hidden;}
.fold-list-box{width: 100%;margin-bottom: .4rem;overflow: hidden;}
.fold-list-box:last-child{margin-bottom: 0rem;}
.fold-title-box{cursor:pointer;width: 100%;overflow: hidden;position: relative;}
.fold-title-text-box{width: 100%;float: left;font-size: .16rem;font-family: 微软雅黑;color: #fff;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.fold-title-box .selected{color: #07a6ff;}
.fold-title-box .icon{width: .16rem;height: .16rem;}
.fold-content-box{width: 100%;margin-top: .23rem;overflow: hidden;}
.fold-content-box ul{width: 100%;overflow: hidden;}
.fold-content-box li{cursor:pointer;width: auto;height: .3rem;margin-bottom: .1rem;border-radius: .04rem;font-size: .16rem;line-height: .3rem;font-family: 微软雅黑;color: #fff;text-indent: .4rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;position: relative;}
.fold-content-box li:last-child{margin-bottom: 0rem;}
.fold-content-box .selected{border: .01rem solid #078fdd;background-color: rgba(7, 166, 255, 0.2);color: #07a6ff;}

/*操作菜单框*/
.opera-list-box{width: 100%;height: 100%;}
.opera-list{width:auto;height: 100%;}
.opera-list-inner-box{width: auto;height: 100%;background-color: rgba(7, 62, 111, 0.15);overflow:hidden;position: relative;}
.opera-left-box{width: 3.4rem;float: left;}
.opera-left-box .fold-box{height: calc(100% - .7rem);height: -moz-calc(100% - .7rem);height: -webkit-calc(100% - .7rem);overflow: auto;}
.opera-left-box .opera-list-inner-box{padding: .3rem;height: calc(100% - .6rem);height: -moz-calc(100% - .6rem);height: -webkit-calc(100% - .6rem);}
.opera-left-box .search-box{margin-bottom: .4rem;}
.opera-right-box{width: calc(100% - 3.8rem);width: -moz-calc(100% - 3.8rem);width: -webkit-calc(100% - 3.8rem);float: right;}
.opera-video-box{width: 100%;height: 100%;overflow: hidden;}
.opera-video-box .video-box{width: 100%;height: calc(100% - .9rem);height: -moz-calc(100% - .9rem);height: -webkit-calc(100% - .9rem);background-color: #000;overflow: hidden;}
.opera-video-box .video-box .video-js{width: 100%;height: 100%;}
.opera-right-box .btn-box{overflow: hidden;}
.opera-right-box .btn-inner-box{margin: .3rem;}
.opera-right-box .btn{float: right;margin-right: 0px;margin-left: .3rem;}
.opera-right-box .btn:last-child{margin-left: 0rem;}

/*无数据*/
.no-data-box{width:100%;height: 100%;position: relative;}
.no-data-row-text,.no-data-inner-box{position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto auto;}
.no-data-row-text{width: 100%;height: .22rem;line-height: .22rem;}
.no-data-inner-box{width:3rem;height: 2.24rem;}
.no-data-box .icon{margin:0 auto;}
.no-data-box .icon-no-data{height: 2.08rem;}
.no-data-box .no-data-text{width: 100%;line-height: .16rem;margin-top: .06rem;}
.no-data-row-text,.no-data-box .no-data-text{font-size: .16rem;font-family: 微软雅黑;color: rgba(255, 255, 255, 0.3);text-align: center;}

/*报错页面*/
.err-box{width: 390px;overflow: hidden;position: absolute;}
.err-img{width: 100%;overflow: hidden;}
.err-img img{width: 100%;}
.err-text{width: 100%;font: 12px 微软雅黑;color: rgba(255, 255, 255, 0.3);text-align: center;}

