.kjy{width: 100%;height: 100%;overflow:hidden;background-image:url(http://img.guostory.com/sinuoCloud/common-bg.png);background-repeat:no-repeat;background-position:center center;background-size:auto 100%;position: absolute;top: 0px;left: 0px;}
.kjy-inner-box{width: auto;height: 100%;overflow: hidden;padding: 0rem .16rem;}

/*头部*/
.header-box{width: auto;height: .84rem;margin-top: .13rem;margin-bottom: .32rem;background-image: url(../img/common/header-bg.png);background-repeat: no-repeat;background-size: 100% 100%;}
.opera-box,.user-info-box{height: 100%;position: relative;}

/*左侧操作区域*/
.opera-box{width: 14.22rem;}
.logo-wapper-box{width: .61rem;height: .61rem;background: url(../img/common/logo-wapper-bg.png) no-repeat;background-size: 100% 100%;position: absolute;top: .29rem;left: .12rem;}
.logo-box{width: .29rem;height: .26rem;background:url(../img/common/logo.png) no-repeat;background-size:100% 100%;}
.title-box{width: 3.03rem;height: .39rem;font-size: .24rem;line-height: .39rem;font-family: 微软雅黑;color: #34e4ff;text-align: center;background: url(../img/common/header-title-bg.png) no-repeat;background-size: 100% 100%;position: absolute;top: .26rem;left: 1.05rem;}
.nav-box{width: calc(100% - 4.5rem);width: -webkit-calc(100% - 4.5rem);width: -moz-calc(100% - 4.5rem);height: .33rem;left: 4.2rem;}
.nav-box li{height: 100%;float: left;}
.nav-box li div{cursor:pointer;width: 1.18rem;height: 100%;margin: 0px auto;font-size: .18rem;line-height: .33rem;font-family: 微软雅黑;color: #e4fdff;text-align: center;background-repeat: no-repeat;background-position: center center;background-size: 100% 100%;}
.nav-box .selected{color: #34e4ff;background-image: url(../img/common/nav-selected.png);}
.header-animate{background-repeat: no-repeat;background-position: center center;background-size: 100% 100%;position: absolute;}
.header-animate1,.header-animate2{height: .05rem;}
.header-animate1{width: 1.88rem;background-image: url(../img/common/header-animate1.gif);bottom: 0;left: .86rem;}
.header-animate2{width: .55rem;background-image: url(../img/common/header-animate2.gif);top: .04rem;left: 5.32rem;}

/*右侧操作区域*/
.user-info-box{width: 4.56rem;}
.user-info-inner-box{width: auto;padding-right: 1.03rem;margin-left: .4rem;height: 100%;font-size: .14rem;line-height: .72rem;font-family: 微软雅黑;color: #34e4ff;text-align: right;}
.user-info-date-box{float: left;}
.user-info-name-box{max-width: 1.6rem;float: right;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.quit{cursor: pointer;width: .26rem;height: .26rem;background: url(../img/icon/icon-quit.png) center center no-repeat;background-size: 100% 100%;right: .3rem;}
.header-animate3{width: .5rem;height: .5rem;background-image: url(../img/common/header-animate3.png);position: absolute;bottom: -0.13rem;left: -0.31rem;}

/*内容区域*/
.main-box{width: auto;height: calc(100% - 1.29rem);height: -webkit-calc(100% - 1.29rem);height: -moz-calc(100% - 1.29rem);overflow-y:hidden;}
.main-box iframe{width: 100%;height: 100%;}
