<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>思诺科技消安一体化平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon">
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../css/swiper.min.css">
		<link rel="stylesheet" href="../css/common.css?v=10ba9b2e4b">
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../js/swiper.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=ad4a8fa2e3"></script>
		<script src="../js/common.js?v=0fa2d6115d"></script>
	</head>

	<body>
		<div class="mask-box v-dom" v-cloak>
			<div class="mask-inner-box">
				<div class="event-info-box">
					<div class="event-info-img-box">
						<div class="full-box" v-if="parentData.catchImageList == 0">
							<div class="no-data-box">
								<div class="no-data-row-text">暂时没有抓拍图片哦</div>
							</div>
						</div>
						<div class="swiper-container" v-else>
							<ul class="swiper-wrapper">
								<li class="swiper-slide" v-for="image in parentData.catchImageList">
									<div class="img-box">
										<img v-bind:src="image" onerror="this.src='../img/common/no-img.png'">
									</div>
								</li>
							</ul>
							<div class="swiper-pagination"></div>
						</div>
					</div>
					<div class="event-info-content-box">
						<div class="event-info-content-inner-box">
							<div class="mask-title-box">报警信息</div>
							<div class="cut-line mask-cut-line-bg"></div>
							<div class="mask-content-box">
								<div class="mask-content-text">报警位置：{{parentData.alarmLocation?parentData.alarmLocation:'无'}}</div>
								<div class="mask-content-text">报警类型：{{parentData.alarmType}}</div>
								<div class="mask-content-text">报警级别： <span v-bind:class="parentData.eventLvlClass">{{parentData.eventLvlText}}</span></div>
								<div class="mask-content-text">报警时间：{{parentData.alarmTime}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn" onclick="workOrder();">生成工单</div>
					<div class="btn" onclick="alarmHandle();" v-if="parentData.processStatus == 0 && parentData.deviceTypeId == 8">处理</div>
					<div class="btn" onclick="videoSurveillance();">现场视频</div>
					<div class="btn" onclick="closeMask();">返回</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		param.videoUrlList = [{
			id: "1",
			name: "商业五二层南口",
			videoUrl: "rtmp://116.255.198.211/lskjapp/0001431201000008"
		}, {
			id: "2",
			name: "商业二外南通道",
			videoUrl: "rtmp://116.255.198.211/lskjapp/0001431201000054"
		}, {
			id: "3",
			name: "监控室",
			videoUrl: "rtmp://116.255.198.211/lskjapp/0001431201000055"
		}, {
			id: "4",
			name: "大厅二层南通道向",
			videoUrl: "rtmp://116.255.198.211/lskjapp/0001431201000028"
		}];
		loadVue(".v-dom", param);

		function videoSurveillance() {
			var parentData = setData.parentData;
			if(parentData.deviceLogo == "1") {
				var param = {
					indexCode: parentData.fireIndexCode
				}
				request("POST", "/alarmEvent/v1/lookSiteVideo", param, true, function(res) {
					var dataList = res.data;
					if(dataList.length == 0) {
						layer.msg("该设备没有联动监控点");
						return false;
					}
					showVideoSurveillance(dataList);
				}, function(res) {
					layer.msg("获取联动监控点失败");
				});
			} else if(parentData.deviceLogo = "2") {
				var dataList = [{
					id: parentData.deviceId,
					cameraDeviceName: parentData.deviceName,
					cameraDeviceIndexCode: parentData.cameraIndexCode
				}]
				showVideoSurveillance(dataList);
			}
		}

		function showVideoSurveillance(dataList) {
			var parentData = setData.parentData;
			var videoUrlList = setData.videoUrlList;
			parent.openMask("/part/videoSurveillance", ["60%", "82%"], function(layerDom, layerIframe) {
				layerIframe.setData.parentData = parentData;
				for(var i = 0; i < dataList.length; i++) {
					dataList[i].videoUrl = videoUrlList[i].videoUrl;
				}
				layerIframe.setData.dataList = dataList;
				layerIframe.tabCamera(dataList[0]);
			})
		}

		function workOrder() {
			var parentData = setData.parentData;
			parent.openMask("/part/workOrder", ["460px", "380px"], function(layerDom, layerIframe) {
				layerDom.find("#deviceName").val(parentData.deviceName);
				layerDom.find("#deviceId").val(parentData.deviceId);
				layerDom.find("#deviceAddress").val(parentData.alarmLocation);
			});
		}

		function alarmHandle() {
			var parentData = setData.parentData;
			parent.openMask("/part/alarmHandle", ["300px", "200px"], function(layerDom, layerIframe) {
				layerIframe.setData.parentData = parentData;
			});
		}

		function setSwiper() {
			nextTick(function() {
				var mySwiper = new Swiper('.swiper-container', {
					direction: 'horizontal',
					loop: true,
					autoplay: {
						delay: 5000,
						stopOnLastSlide: false,
						disableOnInteraction: true,
					},
					pagination: {
						el: '.swiper-pagination',
						clickable: true
					}
				})
			})
		}
	</script>

</html>