<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>思诺科技消安一体化平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon">
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../css/common.css?v=10ba9b2e4b">
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=46a09142d2"></script>
		<script src="../js/common.js?v=18e3c83b9f"></script>
	</head>

	<body>
		<div class="mask-box v-dom" v-cloak>
			<div class="mask-inner-box">
				<div class="mask-content-box" v-for="t in contentList">
					<div class="mask-list">
						<div class="mask-list-name"><span class="text">点位名称</span>：</div>
						<div class="mask-list-value">
							<div class="mask-list-value-text">{{t.checkPointName}}</div>
						</div>
					</div>
					<div class="mask-list">
						<div class="mask-list-name"><span class="text">结果描述</span>：</div>
						<div class="mask-list-value">
							<div class="mask-textarea-box">{{t.checkDescription}}</div>
						</div>
					</div>
					<div class="mask-list">
						<div class="mask-list-name"><span class="text">结果图片</span>：</div>
						<div class="mask-list-value">
							<div class="mask-content-box">
								<div class="img-box" v-for="image in t.checkImageList">
									<img v-bind:src="image" onerror="this.src='../img/common/no-img.png'">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn" onclick="closeMask();">返回</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		loadVue(".v-dom", param);
	</script>

</html>