<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>思诺科技消安一体化平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../layui/css/layui.css" />
		<link rel="stylesheet" href="../css/common.css?v=1c1ac2354f" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=62b1256164"></script>
		<script src="../js/common.js?v=fab245d574"></script>
	</head>

	<body>
		<div class="main-mask main-mask-bottom VDOM" v-cloak>
			<div class="con">
				<div class="mask-list">
					<div class="mask-list-name"><span>*</span><span class="text">任务名称</span>：</div>
					<div class="mask-list-value">
						<input type="text" name="" id="taskTitle" value="" class="required len30 big" />
						<div class="mask-list-prompt">任务名称不超过30个字</div>
					</div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name"><span>*</span><span class="text">任务内容</span>：</div>
					<div class="mask-list-value">
						<input type="text" name="" id="taskContent" value="" class="required big" />
					</div>
				</div>
				<div class="mask-list c_b">
					<div class="mask-list-name"><span>*</span><span class="text">巡查点位</span>：</div>
					<div class="mask-list-value">
						<div class="no-range-box" v-if="dataList.length == 0">暂无巡查点位</div>
						<ul v-else class="range-box">
							<li v-for="(t,i) in dataList">
								{{t.standardName}}
								<div class="del-range" v-on:click="delRange(i);"></div>
							</li>
						</ul>
						<div class="btn icon icon-select" onclick="selectPart(0);">选择巡查点位</div>
					</div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name"><span>*</span><span class="text">负责人姓名</span>：</div>
					<div class="mask-list-value">
						<input type="text" name="" value="" id="stuffName" disabled="disabled" class="required" />
						<input type="hidden" name="" value="" id="stuffId" />
					</div>
					<div class="btn icon icon-select select-stuff-btn" onclick="selectPart(1);">选择负责人</div>
				</div>
				<div class="mask-list c_b">
					<div class="mask-list-name"><span>*</span><span class="text">计划开始</span>：</div>
					<div class="mask-list-value">
						<input type="text" name="" id="validStartTime" value="" class="required" placeholder="填写计划开始日期" />
					</div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name"><span>*</span><span class="text">计划结束</span>：</div>
					<div class="mask-list-value">
						<input type="text" name="" id="validEndTime" value="" class="required" placeholder="填写计划结束日期" />
					</div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name"><span>*</span><span class="text">周期类别</span>：</div>
					<div class="mask-list-value">
						<select name="" id="taskMode" class="required" onchange="selectTaskMode(this);">
							<option value="">==请选择周期类别==</option>
							<option value="0">天</option>
							<option value="1">周</option>
							<option value="2">月</option>
							<option value="3">季</option>
							<option value="4">年</option>
						</select>
					</div>
				</div>
				<div class="mask-list hide-box week-box">
					<div class="mask-list-name"><span>*</span><span class="text">每周开始日期</span>：</div>
					<div class="mask-list-value">
						<select name="" id="weekValue">
							<option value="">==请选择本周开始日期==</option>
							<option value="1">周一</option>
							<option value="2">周二</option>
							<option value="3">周三</option>
							<option value="4">周四</option>
							<option value="5">周五</option>
							<option value="6">周六</option>
							<option value="7">周日</option>
						</select>
					</div>
				</div>
				<div class="mask-list hide-box month-box">
					<div class="mask-list-name"><span>*</span><span class="text">每月几号</span>：</div>
					<div class="mask-list-value">
						<input type="text" name="" value="" id="monthValue" class="num-box num" />
						<div class="unit96">号</div>
					</div>
				</div>
				<div class="mask-list hide-box quarter-box">
					<div class="mask-list-name"><span>*</span><span class="text">每季第几天</span>：</div>
					<div class="mask-list-value">
						<input type="text" name="" value="" id="quarterValue" class="num-box num" />
						<div class="unit96">天</div>
					</div>
				</div>
				<div class="mask-list hide-box year-box">
					<div class="mask-list-name"><span>*</span><span class="text">每年开始日期</span>：</div>
					<div class="mask-list-value">
						<input type="text" name="" value="" id="yearStartTime" placeholder="填写每年开始日期" />
					</div>
				</div>
				<div class="mask-list c_b">
					<div class="mask-list-name"><span>*</span><span class="text">开始时间</span>：</div>
					<div class="mask-list-value">
						<input type="text" name="" id="beginTime" value="" class="required" placeholder="填写开始时间" />
					</div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name"><span>*</span><span class="text">结束时间</span>：</div>
					<div class="mask-list-value">
						<input type="text" name="" id="endTime" value="" class="required" placeholder="填写结束时间" />
					</div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name"><span>*</span><span class="text">持续天数</span>：</div>
					<div class="mask-list-value">
						<input type="text" name="" id="lastingDays" value="" class="required num num-box" placeholder="填写数字" />
						<div class="unit96">天</div>
					</div>
				</div>
			</div>
			<div class="mask-btn-box">
				<div class="btn-box">
					<div class="btn icon icon-save" onclick="edit();" id="creatsave">确定</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		$(function() {
			setTime('#validStartTime', "date");
			setTime('#validEndTime', "date");
			setTime('#beginTime', "time");
			setTime('#endTime', "time");
			setTime('#yearStartTime', "date");
		})

		loadVue(param);

		function selectTaskMode(t) {
			$("#weekValue").val("");
			$("#monthValue").val("");
			$("#quarterValue").val("");
			$("#yearStartTime").val("");
			if($(t).val() == 1) {
				$(".week-box").show();
				$("#weekValue").addClass("required");
				$(".month-box").hide();
				$("#monthValue").removeClass("required");
				$(".quarter-box").hide();
				$("#quarterValue").removeClass("required");
				$(".year-box").hide();
				$("#yearStartTime").removeClass("required");
			} else if($(t).val() == 2) {
				$(".week-box").hide();
				$("#weekValue").removeClass("required");
				$(".month-box").show();
				$("#monthValue").addClass("required");
				$(".quarter-box").hide();
				$("#quarterValue").removeClass("required");
				$(".year-box").hide();
				$("#yearStartTime").removeClass("required");
			} else if($(t).val() == 3) {
				$(".week-box").hide();
				$("#weekValue").removeClass("required");
				$(".month-box").hide();
				$("#monthValue").removeClass("required");
				$(".quarter-box").show();
				$("#quarterValue").addClass("required");
				$(".year-box").hide();
				$("#yearStartTime").removeClass("required");
			} else if($(t).val() == 4) {
				$(".week-box").hide();
				$("#weekValue").removeClass("required");
				$(".month-box").hide();
				$("#monthValue").removeClass("required");
				$(".quarter-box").hide();
				$("#quarterValue").removeClass("required");
				$(".year-box").show();
				$("#yearStartTime").addClass("required");
			} else {
				$(".week-box").hide();
				$("#weekValue").removeClass("required");
				$(".month-box").hide();
				$("#monthValue").removeClass("required");
				$(".quarter-box").hide();
				$("#quarterValue").removeClass("required");
				$(".year-box").hide();
				$("#yearStartTime").removeClass("required");
			}
		}

		function selectPart(flag) {
			if(flag == 0) {
				openMask('', "selectCheckStandardRange", "选择点位", "98%", "98%", function(layerDom, layerIframe) {
					layerIframe[0].contentWindow.loadData(setData.dataList);
				})
			} else if(flag == 1) {
				openMask('', "selectStuff", "选择负责人", "98%", "98%", function(layerDom, layerIframe) {
					var parentData = {
						stuffName: "stuffName",
						stuffId: "stuffId"
					}
					layerIframe[0].contentWindow.loadData(parentData);
				})
			}
		}

		//编辑
		function edit() {
			var checkI = checkInput();
			if(checkI == true) {
				var checkStandardIdList = [];
				var triggerTime = "";
				var dataList = setData.dataList;
				for(var i = 0; i < dataList.length; i++) {
					checkStandardIdList.push(dataList[i].id);
				}
				if(checkStandardIdList.length == 0) {
					layer.msg("请选择巡查点位");
					return false;
				}
				if(checkStandardIdList.length > 10) {
					layer.msg("巡查点位不能超过10个");
					return false;
				}

				if($("#taskMode").val() == 0) {
					triggerTime = "";
				} else if($("#taskMode").val() == 1) {
					triggerTime = $("#weekValue").val();
				} else if($("#taskMode").val() == 2) {
					triggerTime = $("#monthValue").val();
				} else if($("#taskMode").val() == 3) {
					triggerTime = $("#quarterValue").val();
				} else {
					triggerTime = $("#yearStartTime").val();
				}
				var param = {
					id: $(".main-mask").attr("data-id"),
					taskTitle: $("#taskTitle").val(),
					taskContent: $("#taskContent").val(),
					taskType: "1",
					checkStandardIdList: checkStandardIdList,
					charger: $("#stuffName").val(),
					chargerId: $("#stuffId").val(),
					validStartTime: resetTime($("#validStartTime").val(), 0),
					validEndTime: resetTime($("#validEndTime").val(), 0),
					taskMode: $("#taskMode").val(),
					triggerTime: triggerTime,
					beginTime: $("#beginTime").val(),
					endTime: $("#endTime").val(),
					lastingDays: $("#lastingDays").val(),
					state: "1"
				};
				request('POST', '/property/checkTask/saveOrUpdate.do', param, true, function(res) {
					parent.layer.close(index);
					parent.layer.msg("操作成功");
				}, function(res) {
					layer.msg('操作失败，请检查网络或重试');
				})
			}
		}

		function loadCheckList(idList, callback) {
			if(idList) {
				var param = {
					idList: idList
				};
				request('POST', '/property/checkStandard/queryList.do', param, true, function(res) {
					setData.dataList = res.data;
				}, function() {
					layer.msg("巡查点位加载失败");
				})
				nextTick(function() {
					callback();
				})
			}
		}
	</script>

</html>