<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>思诺科技消安一体化平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon">
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../css/common.css?v=88d3f5c183">
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=b3167ffa28"></script>
		<script src="../js/common.js?v=8bdd65fff2"></script>
	</head>

	<body>
		<div class="mask-box v-dom" v-cloak>
			<div class="mask-inner-box">
				<div class="mask-list">
					<div class="mask-list-name">点位名称：</div>
					<div class="mask-list-value"><input type="text" name="" id="name" value="" class="required"></div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name">二维码编码：</div>
					<div class="mask-list-value"><input type="text" name="" id="qrCode" value="" placeholder="字母或数字" class="required regular-code"></div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name">NFC编码：</div>
					<div class="mask-list-value"><input type="text" name="" id="nfcCode" value="" placeholder="字母或数字" class="required regular-code"></div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name">巡查内容：</div>
					<div class="mask-list-value">
						<div class="no-content-box width-104" v-if="contentList.length == 0">暂无巡查内容</div>
						<div class="mask-value-list-box" v-else>
							<div class="mask-value-list" v-for="(t,i) in contentList"><input type="text" name="" v-bind:value="t" v-bind:placeholder="'巡查内容'+(i+1)" class="width-104 pointContent" v-on:input="resetContentList($event,i)">
								<div class="icon icon-del-range" v-on:click="delContent(i);"></div>
							</div>
						</div>
					</div>
					<div class="btn-box">
						<div class="btn-inner-box">
							<div class="btn" onclick="addContent();">添加</div>
						</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn" onclick="save();">保存</div>
					<div class="btn" onclick="closeMask();">返回</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		loadVue(".v-dom", param);

		function addContent() {
			var contentList = setData.contentList;
			if(contentList.length == 5) {
				layer.msg("最多添加5个巡查内容");
				return false;
			}
			contentList.push("");
		}

		function resetContentList(event, i) {
			var ev = event.currentTarget;
			setData.contentList[i] = $(ev).val();
		}

		//编辑
		function save() {
			var checkI = checkInput();
			if(checkI == true) {
				var parentData = setData.parentData;
				var contentList = setData.contentList;
				if(contentList.length == 0) {
					layer.msg("请添加巡查内容");
					return false;
				} else {
					for(var i = 0; i < contentList.length; i++) {
						if(contentList[i] == "") {
							layer.msg("请完善巡查内容");
							return false;
						}
						if(contentList[i].length >= 120) {
							layer.msg("第" + (i + 1) + "个巡查内容字数过长，最大字数120字");
							return false;
						}
					}
				}
				var param = {
					name: $("#name").val(),
					qrCode: $("#qrCode").val(),
					nfcCode: $("#nfcCode").val(),
					contentList: contentList
				};
				if(parentData) {
					param.id = parentData.id
				}
				request('POST', '/checkPoint/saveOrUpdate.do', param, true, function(res) {
					closeMask();
					parent.layer.msg("操作成功");
					parent.loadData();
				}, function(res) {
					if(res.code == "0004") {
						layer.msg("该点位已存在，请勿重复操作");
					} else {
						layer.msg('操作失败');
					}
				})
			}
		}

		function loadContentList() {
			var parentData = setData.parentData;
			var contentList = parentData.contentList;
			for(var i = 0; i < contentList.length; i++) {
				setData.contentList.push(contentList[i]);
			}
		}
	</script>

</html>