<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>思诺科技消安一体化平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../layui/css/layui.css" />
		<link rel="stylesheet" href="../css/common.css?v=9094e21722" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=ea43ea1cce"></script>
		<script src="../js/common.js?v=c98a4e1add"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box v-dom" v-cloak>
			<div class="mask-box">
				<div class="mask-inner-box">
					<div class="mask-list">
						<div class="mask-list-name"><span class="text">消防设备</span>：</div>
						<div class="mask-list-value">
							<input type="text" name="" value="" id="deviceName" disabled="disabled" class="required" />
							<input type="hidden" name="" value="" id="indexCode" class="required" />
							<input type="hidden" name="" value="" id="deviceId" />
						</div>
						<div class="btn-box select-device-box">
							<div class="btn-inner-box">
								<div class="btn" onclick="selectDevice();">选择</div>
							</div>
						</div>
					</div>
					<div class="mask-list">
						<div class="mask-list-name"><span class="text">监控点</span>：</div>
						<div class="mask-list-value">
							<div class="no-content-box" v-if="contentList.length == 0">暂无监控点</div>
							<ul class="range-box" v-else>
								<li v-for="(t,i) in contentList">
									{{t.deviceName}}
									<div class="icon icon-del-range" v-on:click="delContent(i);"></div>
								</li>
							</ul>
						</div>
						<div class="btn-box">
							<div class="btn-inner-box">
								<div class="btn" onclick="selectDeviceRange();">选择</div>
							</div>
						</div>
					</div>
					<div class="mask-list">
						<div class="mask-list-name"><span class="text">联动类型</span>：</div>
						<div class="mask-list-value">
							<ul class="mask-select-box">
								<li v-for="t in videoLinkageType">
									<div v-bind:class="['icon','position-left', 'icon-check-box',t.isActive? 'icon-checked':'']" v-on:click="switchActive(t);"></div>
									{{t.typeName}}
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="btn-box">
					<div class="btn-inner-box">
						<div class="btn" onclick="save();">保存</div>
						<div class="btn" onclick="closeMask();">返回</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		param.videoLinkageType = [];
		loadVue(".v-dom", param);

		function selectDevice() {
			parent.openMask("/part/selectDevice", ["660px", "360px"], function(layerDom, layerIframe) {
				var dataInfo = {
					id: $("#deviceId").val(),
					deviceName: $("#deviceName").val()
				}
				layerIframe.dataInfo = dataInfo;
				layerIframe.setData.deviceLogo = "1";
				layerIframe.loadData();
			});
		}

		function selectDeviceRange() {
			parent.openMask("/part/selectDeviceRange", ["660px", "360px"], function(layerDom, layerIframe) {
				layerIframe.setData.deviceLogo = "2";
				layerIframe.setData.contentList = setData.contentList;
				layerIframe.loadSelectDataList();
				layerIframe.loadData();
			});
		}

		//编辑
		function save() {
			var checkI = checkInput();
			if(checkI == true) {
				var parentData = setData.parentData;
				var contentList = setData.contentList;
				if(contentList.length == 0) {
					layer.msg("请选择监控点");
					return false;
				}
				if(contentList.length > 4) {
					layer.msg("监控点不能超过10个");
					return false;
				}
				var cameraDevice = [];
				for(var i = 0; i < contentList.length; i++) {
					var obj = {
						id: contentList[i].id,
						cameraDeviceName: contentList[i].deviceName,
						cameraDeviceIndexCode: contentList[i].indexCode
					}
					cameraDevice.push(obj);
				}
				var videoLinkageType = setData.videoLinkageType;
				var linkageType = [];
				for(var i = 0; i < videoLinkageType.length; i++) {
					if(videoLinkageType[i].isActive) {
						var obj = {
							id: videoLinkageType[i].id,
							typeName: videoLinkageType[i].typeName
						}
						linkageType.push(obj);
					}
				}
				if(linkageType.length == 0) {
					layer.msg("请选择联动类型");
					return false;
				}
				var param = {
					cameraDevice: JSON.stringify(cameraDevice),
					linkageType: JSON.stringify(linkageType)
				}
				if(parentData) {
					var requestUrl = "/sinuo/event/v1/modifyVideoLinkage";
					param.videoLinkageId = parentData.id;
				} else {
					var requestUrl = "/sinuo/event/v1/addVideoLinkage";
					param.fireDeviceName = $("#deviceName").val();
					param.fireDeviceIndexCode = $("#indexCode").val();
				}
				request('POST', requestUrl, param, true, function(res) {
					closeMask();
					parent.layer.msg("操作成功");
					parent.loadData();
				}, function(res) {
					layer.msg('操作失败，请检查网络或重试');
				})
			}
		}

		function loadDevice() {
			var parentData = setData.parentData;
			var cameraDeviceList = parentData.cameraDeviceList;
			var contentList = [];
			for(var i = 0; i < cameraDeviceList.length; i++) {
				contentList.push(cameraDeviceList[i]);
			}
			setData.contentList = contentList;
		}

		function loadVideoLinkageType() {
			var videoLinkageType = setData.videoLinkageType;
			var parentData = setData.parentData;
			var videoLinkageTypeList = parentData.videoLinkageTypeList;
			for(var i = 0; i < videoLinkageType.length; i++) {
				videoLinkageType[i].isActive = false;
				for(var j = 0; j < videoLinkageTypeList.length; j++) {
					if(videoLinkageType[i].id == videoLinkageTypeList[j].id) {
						videoLinkageType[i].isActive = true;
					}
				}
			}
		}
	</script>

</html>