<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>思诺科技消安一体化平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/common.css?v=1c1ac2354f" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=62b1256164"></script>
		<script src="../js/common.js?v=fab245d574"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box VDOM" v-cloak>
			<div class="search-box mask-search-box">
				<div class="search-list-box">
					<div class="search-list">
						<div class="search-name">员工姓名：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="name" placeholder="输入员工姓名" />
						</div>
					</div>
					<div class="search-list">
						<div class="search-name">性别：</div>
						<div class="search-value">
							<select name="" id="gender" onchange="sreach(1);">
								<option value="">==请选择性别==</option>
								<option value="0">男</option>
								<option value="1">女</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn icon icon-search" onclick="sreach();">查询</div>
				</div>
			</div>
			<div class="kjy-data-box">
				<div class="full-box" v-if="dataList.length == 0">
					<div class="no-data-box">
						<div class="icon icon-no-data"></div>
						<div class="no-data-text">暂时没有员工哦</div>
					</div>
				</div>
				<div class="kjy-table" v-else>
					<table>
						<thead>
							<th class="padding20">序号</th>
							<th>员工姓名</th>
							<th>性别</th>
							<th>手机号</th>
						</thead>
						<tbody>
							<tr v-for="(t,i) in dataList" v-on:click="tabData(t)">
								<td class="padding20">
									<div v-bind:class="['radio-no-check',t.isActive?'radio-checked':'']"></div>{{((currentPage-1)*20)+(i+1)}}</td>
								<td>{{t.name}}</td>
								<td>{{t.genderText}}</td>
								<td>{{t.telephone}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="page-box">
				<div class="page-inner-box">
					<div class="icon icon-first-page" onclick="firstPage()">首页</div>
					<div class="icon icon-before-page" onclick="beforePage();">上一页</div>
					<div class="icon icon-next-page" onclick="nextPage();">下一页</div>
					<div class="icon icon-last-page" onclick="lastPage();">末页</div>
					<div class="default page-input">第<input type="text" name="" v-bind:value="currentPage" />页</div>
					<div class="icon icon-next-page" onclick="jumpPage();">跳转</div>
					<div class="default">共<span>{{totalPage}}</span>页</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		loadVue(param)

		//确定上一级页面参数
		function setParentData() {
			var parentData = setData.parentData;
			$("#" + parentData.stuffName, window.parent.document).val(sInfo.name);
			$("#" + parentData.stuffId, window.parent.document).val(sInfo.id);
		}

		//		加载数据
		function loadData(parentData) {
			var param = {
				pageNo: pageNo,
				name: $("#name").val(),
				gender: $("#gender").val()
			};
			request('POST', '/account/stuff/queryList.do', param, true, function(res) {
				var dataList = res.data;
				for(var i = 0; i < dataList.length; i++) {
					dataList[i].isActive = false;
					dataList[i].fee = parseFloat(dataList[i].fee).toFixed(2);
					if(dataList[i].gender == 0) {
						dataList[i].genderText = "男";
					} else if(dataList[i].gender == 1) {
						dataList[i].genderText = "女";
					}
				}
				setData.dataList = dataList;
				setData.parentData = parentData;
			}, function() {
				layer.msg("缴费项目加载失败");
			})
		}
	</script>

</html>