<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>思诺科技消安一体化平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../layui/css/layui.css" />
		<link rel="stylesheet" href="../css/common.css?v=9094e21722" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=ea43ea1cce"></script>
		<script src="../js/common.js?v=c98a4e1add"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box v-dom" v-cloak>
			<div class="mask-box">
				<div class="mask-inner-box">
					<div class="kjy-box kjy-flex-box">
						<div class="search-box">
							<div class="search-row-box">
								<div class="search-list-box">
									<div class="search-list">
										<div class="search-name">用户名称：</div>
										<div class="search-value">
											<input type="text" name="" value="" id="name" placeholder="用户名称" />
										</div>
									</div>
									<div class="search-list">
										<div class="search-name">用户账号：</div>
										<div class="search-value">
											<input type="text" name="" value="" id="account" placeholder="用户账号" />
										</div>
									</div>
								</div>
								<div class="search-btn-box">
									<div class="btn" onclick="search();">查询</div>
								</div>
							</div>
						</div>
						<div class="kjy-data-box">
							<div class="decorate-list common-left-top-decorate position-left-top"></div>
							<div class="decorate-list common-left-bottom-decorate position-left-bottom"></div>
							<div class="decorate-list common-right-top-decorate position-right-top"></div>
							<div class="decorate-list common-right-bottom-decorate position-right-bottom"></div>
							<div class="full-box" v-if="dataList.length == 0">
								<div class="no-data-box">
									<div class="no-data-inner-box">
										<div class="icon icon-no-data"></div>
										<div class="no-data-text">暂时没有用户记录哦</div>
									</div>
								</div>
							</div>
							<div class="kjy-data-inner-box" v-else>
								<div class="kjy-table">
									<table>
										<thead>
											<th class="padding40">序号</th>
											<th>用户名称</th>
											<th>用户账号</th>
										</thead>
										<tbody>
											<tr v-for="(t,i) in dataList" v-on:click="tabData(t)">
												<td class="padding40">
													<div v-bind:class="['icon','icon-radio-box',t.isActive?'icon-radio-checked':'']"></div>{{((pageNo-1)*20)+(i+1)}}</td>
												<td>{{t.name}}</td>
												<td>{{t.account}}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="page-box"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="btn-box">
					<div class="btn-inner-box">
						<div class="btn" onclick="save();">保存</div>
						<div class="btn" onclick="closeMask();">返回</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		loadVue(".v-dom", param);

		//确定上一级页面参数
		function save() {
			if(!dataInfo) {
				layer.msg("请选择用户");
				return false;
			}
			parent.getMaskData(function(layerDom, layerIframe) {
				layerDom.find("#accountName").val(dataInfo.name);
				layerDom.find("#accountId").val(dataInfo.id);
				closeMask();
			});
		}

		//		加载数据
		function loadData() {
			var param = {
				pageNo: pageNo,
				name: $("#name").val(),
				account: $("#account").val()
			};
			request('POST', '/sinuo/administrator/queryList.do', param, true, function(res) {
					var dataList = res.data.dataList;
					resetDataInfo(dataList);
					setData.dataList = dataList;
					loadPage();
				},
				function() {
					layer.msg("用户记录加载失败");
				})
		}

		loadData()
	</script>

</html>