<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>思诺科技消安一体化平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon">
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../css/common.css?v=88d3f5c183">
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/hls.min.js"></script>
		<script src="../js/postUrl.js?v=b3167ffa28"></script>
		<script src="../js/common.js?v=8bdd65fff2"></script>
	</head>

	<body>
		<div class="mask-box v-dom" v-cloak>
			<div class="mask-inner-box">
				<div class="opera-list-box">
					<div class="opera-list opera-left-box">
						<div class="opera-list-inner-box">
							<div class="full-box" v-if="dataList.length == 0">
								<div class="no-data-box">
									<div class="no-data-inner-box">
										<div class="icon icon-no-data"></div>
										<div class="no-data-text">暂时没有监控点哦</div>
									</div>
								</div>
							</div>
							<div class="fold-box" v-else>
								<div class="fold-list-box">
									<div class="fold-title-box">
										<div class="fold-title-text-box">{{parentData.deviceName}}</div>
									</div>
									<div class="fold-content-box">
										<ul>
											<li v-bind:class="cameraInfo.cameraDeviceIndexCode == t.cameraDeviceIndexCode?'selected':''" v-for="t in dataList" v-on:click="tabCamera(t);">{{t.cameraDeviceName}}</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="opera-list opera-right-box">
						<div class="opera-list-inner-box">
							<div class="opera-video-box">
								<div class="video-box full-height-box">
									<video src="" controls="controls" autoplay="autoplay" id="video"></video>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn" onclick="closeMask();">返回</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		param.cameraInfo = {};
		loadVue(".v-dom", param);

		//切换监控点
		function tabCamera(obj) {
			setData.cameraInfo = obj;
			getPreviewUrl();
		}

		//获取视频流
		function getPreviewUrl() {
			var cameraInfo = setData.cameraInfo;
			var param = {
				path: "/api/video/v1/cameras/previewURLs",
				param: {
					cameraIndexCode: cameraInfo.cameraDeviceIndexCode,
					protocol: "hls"
				}
			}
			hikRequest(param, true, function(res) {
				var videoUrl = res.data.url;
				if(Hls.isSupported()) {
					var video = $("#video").get(0);
					var hls = new Hls();
					hls.loadSource(videoUrl);
					hls.attachMedia(video);
				}
			})
		}
	</script>

</html>