<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>思诺科技消安一体化平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon">
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../css/common.css?v=10ba9b2e4b">
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/suitWeb.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/requestUrl.js?v=46a09142d2"></script>
		<script src="../js/common.js?v=c8bf69d921"></script>
	</head>

	<body>
		<div class="mask-box v-dom" v-cloak>
			<div class="mask-inner-box">
				<div class="mask-content-box">
					<div class="mask-list">
						<div class="mask-list-name">角色名称：</div>
						<div class="mask-list-value">
							<select name="" required="required" id="roleName" class="required" v-on:change="selectRoleName();">
								<option value="">请选择</option>
								<option value="0">管理员</option>
								<option value="1">项目负责人</option>
								<option value="2">监控中心</option>
								<option value="3">工程人员</option>
							</select>
						</div>
					</div>
					<div class="mask-list">
						<div class="mask-list-name">用户类型：</div>
						<div class="mask-list-value">
							<select name="" required="required" id="roleType" class="required">
								<option value="">请选择</option>
								<option value="0">管理版</option>
								<option value="1">单位版</option>
							</select>
						</div>
					</div>
					<div class="mask-list">
						<div class="mask-list-name">用户名称：</div>
						<div class="mask-list-value">
							<input type="text" name="" value="" id="name" class="required">
						</div>
					</div>
					<div class="mask-list">
						<div class="mask-list-name">手机号：</div>
						<div class="mask-list-value">
							<input type="text" name="" value="" id="telephone" class="regular-telephone">
						</div>
					</div>
					<div class="mask-list">
						<div class="mask-list-name">用户账号：</div>
						<div class="mask-list-value">
							<input type="text" name="" value="" id="account" class="required">
						</div>
					</div>
					<div class="mask-list" v-if="showPassword">
						<div class="mask-list-name">密码：</div>
						<div class="mask-list-value">
							<input type="password" name="" value="" id="password" class="required regular-password">
						</div>
					</div>
					<div class="mask-list">
						<div class="mask-list-name">平台权限：</div>
						<div class="mask-list-value">
							<ul class="mask-select-box">
								<li v-for="t in contentList" v-if="roleName == '0' && t.parent == 2 && t.id != 3">
									<div v-bind:class="['icon','position-left' ,'icon-check-box',t.isActive? 'icon-checked':'']" v-on:click="switchActive(t);"></div>
									{{t.name}}
								</li>
								<li v-for="t in contentList" v-if="roleName != '0' && t.parent == 2 && t.id != 3 && t.id != 10">
									<div v-bind:class="['icon','position-left' ,'icon-check-box',t.isActive? 'icon-checked':'']" v-on:click="switchActive(t);"></div>
									{{t.name}}
								</li>
							</ul>
						</div>
					</div>
					<div class="mask-list">
						<div class="mask-list-name">移动端权限：</div>
						<div class="mask-list-value">
							<ul class="mask-select-box">
								<li v-for="t in contentList" v-if="t.parent == 1">
									<div v-bind:class="['icon','position-left', 'icon-check-box',t.isActive? 'icon-checked':'']" v-on:click="switchActive(t);"></div>
									{{t.name}}
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="btn-box">
					<div class="btn-inner-box">
						<div class="btn" onclick="save();">保存</div>
						<div class="btn" onclick="closeMask();">返回</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		param.roleName = "";
		param.showPassword = true;
		loadVue(".v-dom", param);

		function selectRoleName() {
			var roleNameMap = {
				"": [],
				"0": ["3", "4", "5", "6", "7", "8", "9", "10", "18", "19", "20", "21"],
				"1": ["3", "4", "5", "6", "7", "8", "9", "18", "19", "20", "21"],
				"2": ["3", "4", "5", "6", "7", "8", "9"],
				"3": ["3", "18", "19", "20", "21"]
			}
			var roleName = $("#roleName").val();
			setData.roleName = roleName;
			if(accountInfo.su == 1) {
				if(roleName == "") {
					setData.roleName = "0";
				}
			}
			resetPrivilege(roleNameMap[roleName]);
		}

		//重置权限选中状态
		function resetPrivilege(privilegeList) {
			var contentList = setData.contentList;
			for(var i = 0; i < contentList.length; i++) {
				contentList[i].isActive = false;
				for(var j = 0; j < privilegeList.length; j++) {
					if(contentList[i].id == privilegeList[j]) {
						contentList[i].isActive = true;
					}
				}
			}
		}

		//编辑
		function save() {
			var checkI = checkInput();
			if(checkI == true) {
				var parentData = setData.parentData;
				var contentList = setData.contentList;
				var privilegeList = [];
				for(var i = 0; i < contentList.length; i++) {
					if(contentList[i].isActive) {
						privilegeList.push(contentList[i].id);
					}
				}
				var param = {
					roleName: $("#roleName").val(),
					roleType: $("#roleType").val(),
					name: $("#name").val(),
					telephone: $("#telephone").val(),
					account: $("#account").val(),
					privilegeList: privilegeList
				};
				if(parentData) {
					param.id = parentData.id;
				} else {
					param.password = $("#password").val();
				}
				request('POST', '/administrator/saveOrUpdate.do', param, true, function(res) {
					closeMask(function(parent) {
						parent.layer.msg("操作成功");
						parent.loadData();
					});
				}, function(res) {
					if(res.code == "0004") {
						layer.msg("该用户已存在");
					} else {
						layer.msg('操作失败');
					}
				})
			}
		}
	</script>

</html>