<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>思诺科技消安一体化平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon">
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../css/animate.min.css">
		<link rel="stylesheet" href="../css/common.css?v=46f3e3365b">
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/suitWeb.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/requestUrl.js?v=fb870f73e4"></script>
		<script src="../js/common.js?v=30133f77f6"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box v-dom" v-cloak>
			<div class="search-box">
				<div class="search-row-box">
					<div class="search-list">
						<div class="search-name">用户账号：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="account" placeholder="用户账号">
						</div>
					</div>
					<div class="search-list">
						<div class="search-name">角色名称：</div>
						<div class="search-value">
							<select name="" required="required" id="roleName" v-on:change="search();">
								<option value="">全部</option>
								<option value="0">管理员</option>
								<option value="1">监控中心</option>
								<option value="2">工程人员</option>
								<option value="3">项目负责人</option>
							</select>
						</div>
					</div>
					<div class="search-btn-box">
						<div class="btn" onclick="search();">查询</div>
						<div class="btn" onclick="reloadPage();">重置</div>
					</div>
				</div>
			</div>
			<div class="btn-box" v-if="accountInfo.su == '1'">
				<div class="btn-inner-box">
					<div class="btn" onclick="account()">新建</div>
				</div>
			</div>
			<div class="kjy-data-box">
				<div class="decorate-list decorate-left-top position-left-top"></div>
				<div class="decorate-list decorate-left-bottom position-left-bottom"></div>
				<div class="decorate-list decorate-right-top position-right-top"></div>
				<div class="decorate-list decorate-right-bottom position-right-bottom"></div>
				<div class="full-box" v-if="dataList.length == 0">
					<div class="no-data-box">
						<div class="no-data-inner-box">
							<div class="icon icon-no-data"></div>
							<div class="no-data-text">暂时没有用户记录哦</div>
						</div>
					</div>
				</div>
				<div class="kjy-data-inner-box" v-else>
					<div class="kjy-table">
						<table>
							<thead>
								<tr>
									<th>序号</th>
									<th>用户名称</th>
									<th>用户账号</th>
									<th>用户类型</th>
									<th>角色名称</th>
									<th>手机号</th>
									<th>更新时间</th>
									<th>创建时间</th>
									<th v-if="accountInfo.su == '1'">操作</th>
								</tr>
							</thead>
							<tbody id="tbody">
								<tr v-for="(t,i) in dataList" v-bind:class="['animated',t.animatedName]">
									<td>{{((pageNo-1)*pageSize)+(i+1)}}</td>
									<td v-bind:title="t.name">{{t.name}}</td>
									<td>{{t.account}}</td>
									<td>{{t.roleTypeText}}</td>
									<td>{{t.roleNameText}}</td>
									<td>{{t.telephone?t.telephone:'无'}}</td>
									<td>{{t.updateTime}}</td>
									<td>{{t.createTime}}</td>
									<td v-if="accountInfo.su == '1'">
										<ul class="opera-box">
											<li v-on:click="account(t);">编辑</li>
											<li v-on:click="resetPassword(t);">重置密码</li>
											<li v-on:click="del(t)">删除</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="page-box"></div>
				</div>
			</div>
		</div>
	</body>
	<script>
		param.privilege = [];
		loadVue(".v-dom", param);

		//新建或编辑
		function account(obj) {
			openMask("/parts/account", [suitRem(6.08), suitRem(8.9)], function(layerDom, layerIframe) {
				var privilege = setData.privilege;
				for(var i = 0; i < privilege.length; i++) {
					resetData(1, privilege[i]);
				}
				layerIframe.setData.contentList = privilege;
				if(obj) {
					layerIframe.setData.parentData = obj;
					layerIframe.setData.showPassword = false;
					layerIframe.setData.roleName = obj.roleName;
					layerIframe.setData.roleType = obj.roleType;
					layerIframe.resetPrivilege(obj.privilegeList);
					layerDom.find("#roleName").val(obj.roleName).attr("disabled", "disabled");
					layerDom.find("#roleType").val(obj.roleType).attr("disabled", "disabled");
					layerDom.find("#name").val(obj.name);
					layerDom.find("#telephone").val(obj.telephone);
					layerDom.find("#account").val(obj.account).attr("disabled", "disabled");
				}
			});
		}

		//重置密码
		function resetPassword(obj) {
			var param = {
				id: obj.id
			}
			request("POST", "/administrator/resetPassword.do", param, true, function(res) {
				loadData();
				top.layer.msg("操作成功");
			}, function(res) {
				top.layer.msg("操作失败");
			});
		}

		//删除数据
		function del(obj) {
			openConfirm("确定删除该用户吗？", function() {
				var param = {
					id: obj.id
				}
				request('POST', '/administrator/delete.do', param, true, function(res) {
					loadData();
					top.layer.closeAll('dialog');
				}, function(res) {
					top.layer.msg("删除失败");
				})
			})
		}

		function resetData(flag, obj) {
			if(flag == 0) {
				obj.animatedName = "fadeInUp";
				if(obj.roleType == "0") {
					obj.roleTypeText = "管理版";
				} else if(obj.roleType == "1") {
					obj.roleTypeText = "单位版";
				}
				if(obj.roleName == "0") {
					obj.roleNameText = "管理员";
				} else if(obj.roleName == "1") {
					obj.roleNameText = "项目负责人";
				} else if(obj.roleName == "2") {
					obj.roleNameText = "监控中心";
				} else if(obj.roleName == "3") {
					obj.roleNameText = "工程人员";
				}
			} else {
				obj.isActive = false;
			}
		}

		//		加载数据
		function loadData() {
			var param = {
				pageNo: pageNo,
				account: $("#account").val(),
				roleName: $("#roleName").val()
			};
			request('POST', '/administrator/queryList.do', param, true, function(res) {
				var dataList = res.data.dataList;
				resetDataList(function() {
					for(var i = 0; i < dataList.length; i++) {
						resetData(0, dataList[i]);
					}
					setData.dataList = dataList;
					loadPage();
				})
			}, function(res) {
				top.layer.msg("用户记录加载失败");
			})
		}

		function loadPrivilege() {
			var param = {
				idList: accountInfo.privilegeList
			}
			getPrivilege(param, function(res) {
				var dataList = res;
				for(var i = 0; i < dataList.length; i++) {
					resetData(1, dataList[i]);
				}
				setData.privilege = dataList;
			});
		}

		loadData();
		loadPrivilege();
	</script>

</html>