<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>思诺科技消安一体化平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/animate.min.css" />
		<link rel="stylesheet" href="../css/common.css?v=9094e21722" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=ea43ea1cce"></script>
		<script src="../js/common.js?v=c98a4e1add"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box v-dom" v-cloak>
			<div class="search-box">
				<div class="search-row-box">
					<div class="search-list-box">
						<div class="search-list">
							<div class="search-name">用户账号：</div>
							<div class="search-value">
								<input type="text" name="" value="" id="account" placeholder="用户账号" />
							</div>
						</div>
						<div class="search-list">
							<div class="search-name">用户类型：</div>
							<div class="search-value">
								<select name="" required="required" id="roleType" v-on:change="search();">
									<option value="">用户类型</option>
									<option value="admin">管理员</option>
									<option value="monitor">监控中心</option>
									<option value="engineer">工程人员</option>
									<option value="charger">项目负责人</option>
								</select>
							</div>
						</div>
					</div>
					<div class="search-btn-box">
						<div class="btn" onclick="search();">查询</div>
						<div class="btn" onclick="reloadPage();">重置</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn" onclick="administrator()">新建</div>
				</div>
			</div>
			<div class="kjy-data-box">
				<div class="decorate-list common-left-top-decorate position-left-top"></div>
				<div class="decorate-list common-left-bottom-decorate position-left-bottom"></div>
				<div class="decorate-list common-right-top-decorate position-right-top"></div>
				<div class="decorate-list common-right-bottom-decorate position-right-bottom"></div>
				<div class="full-box" v-if="dataList.length == 0">
					<div class="no-data-box">
						<div class="no-data-inner-box">
							<div class="icon icon-no-data"></div>
							<div class="no-data-text">暂时没有用户记录哦</div>
						</div>
					</div>
				</div>
				<div class="kjy-data-inner-box" v-else>
					<div class="kjy-table">
						<table>
							<thead>
								<tr>
									<th>序号</th>
									<th>用户名称</th>
									<th>用户账号</th>
									<th>用户类型</th>
									<th>手机号</th>
									<th>更新时间</th>
									<th>创建时间</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="tbody">
								<tr v-for="(t,i) in dataList" v-bind:class="['animated',t.animatedName]">
									<td>{{((pageNo-1)*20)+(i+1)}}</td>
									<td>{{t.name}}</td>
									<td>{{t.account}}</td>
									<td>{{t.roleType}}</td>
									<td>{{t.telephone?t.telephone:'暂无手机号'}}</td>
									<td>{{t.updateTime}}</td>
									<td>{{t.createTime}}</td>
									<td>
										<ul class="opera-box">
											<li v-on:click="administrator(t);" v-if="accountInfo.su == 1 || t.roleType != 'admin'">编辑</li>
											<li v-on:click="resetPassword(t);" v-if="accountInfo.roleType == 'admin'">重置密码</li>
											<li v-on:click="del(t)" v-if="accountInfo.id != t.id">删除</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="page-box"></div>
				</div>
			</div>
		</div>
	</body>
	<script>
		param.privilege = [];
		loadVue(".v-dom", param);

		//新建或编辑
		function administrator(obj) {
			openMask("/part/administrator", ["500px", "380px"], function(layerDom, layerIframe) {
				var privilege = setData.privilege;
				for(var i = 0; i < privilege.length; i++) {
					resetData(1, privilege[i]);
				}
				if(accountInfo.su == 1) {
					layerIframe.setData.roleType = "admin";
				}
				layerIframe.setData.contentList = privilege;
				if(obj) {
					layerIframe.setData.parentData = obj;
					layerIframe.setData.showPassword = false;
					layerIframe.setData.roleType = obj.roleType;
					layerIframe.resetPrivilege(obj.privilegeList);
					layerDom.find("#roleType").val(obj.roleType).attr("disabled", "disabled");
					layerDom.find("#name").val(obj.name);
					layerDom.find("#telephone").val(obj.telephone);
					layerDom.find("#account").val(obj.account).attr("disabled", "disabled");
				}
			});
		}

		//重置密码
		function resetPassword(obj) {
			var param = {
				id: obj.id
			}
			request("POST", "/sinuo/administrator/resetPassword.do", param, true, function(res) {
				loadData();
				layer.msg("操作成功");
			}, function(res) {
				layer.msg("操作失败");
			});
		}

		//删除数据
		function del(obj) {
			openConfirm("确定删除该用户？", function() {
				var param = {
					idList: [obj.id]
				}
				request('POST', '/sinuo/administrator/delete.do', param, true, function(res) {
					loadData();
					layer.closeAll('dialog');
				}, function(res) {
					layer.msg("删除失败");
				})
			})
		}

		function resetData(flag, obj) {
			if(flag == 0) {
				obj.animatedName = "fadeInUp";
			} else {
				obj.isActive = false;
			}
		}

		//		加载数据
		function loadData() {
			var param = {
				pageNo: pageNo,
				account: $("#account").val(),
				roleType: $("#roleType").val()
			};
			request('POST', '/sinuo/administrator/queryList.do', param, true, function(res) {
				var dataList = res.data.dataList;
				resetDataList(function() {
					for(var i = 0; i < dataList.length; i++) {
						resetData(0, dataList[i]);
					}
					setData.dataList = dataList;
					loadPage();
				})
			}, function(res) {
				layer.msg("用户记录加载失败");
			})
		}

		function loadPrivilege() {
			var param = {
				idList: accountInfo.privilegeList,
				parent: ""
			}
			getPrivilege(param, function(res) {
				var dataList = res;
				for(var i = 0; i < dataList.length; i++) {
					resetData(1, dataList[i]);
				}
				setData.privilege = dataList;
			});
		}

		loadData();
		loadPrivilege();
	</script>

</html>