<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>思诺科技消安一体化平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon">
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../layui/css/layui.css">
		<link rel="stylesheet" href="../css/animate.min.css">
		<link rel="stylesheet" href="../css/common.css?v=46f3e3365b">
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/suitWeb.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/requestUrl.js?v=fb870f73e4"></script>
		<script src="../js/common.js?v=30133f77f6"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box kjy-content-box v-dom" v-cloak>
			<div class="kjy-title-box">
				<div class="kjy-title-text">报警记录</div>
			</div>
			<div class="search-box" v-if="queryArray.length > 0">
				<div class="search-row-box">
					<div class="search-name">设备类型：</div>
					<ul class="search-value-list-box">
						<li v-bind:class="queryArray[0].id == t.id?'selected':''" v-for="t in deviceType" v-on:click="getQuaryArray(t,0);">{{t.name}}</li>
					</ul>
				</div>
				<div class="search-row-box">
					<div class="search-name">报警类型：</div>
					<ul class="search-value-list-box">
						<ul class="search-value-list-box">
							<li v-bind:class="queryArray[1].id == t.id?'selected':''" v-for="t in alarmType" v-on:click="getQuaryArray(t,1);">{{t.name}}</li>
						</ul>
					</ul>
				</div>
				<div class="search-row-box">
					<div class="search-list" v-if="queryArray[0].id == '1'">
						<div class="search-name">报警级别：</div>
						<div class="search-value">
							<select name="" required="required" id="eventLvl" v-on:change="search();">
								<option value="">全部</option>
								<option value="1">Ⅰ级</option>
								<option value="2">Ⅱ级</option>
								<option value="3">Ⅲ级</option>
							</select>
						</div>
					</div>
					<div class="search-list">
						<div class="search-name">开始日期：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="startTime" placeholder="yyyy-mm-dd">
							<div class="icon icon-select-time position-right"></div>
						</div>
					</div>
					<div class="search-list">
						<div class="search-name">结束日期：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="endTime" placeholder="yyyy-mm-dd">
							<div class="icon icon-select-time position-right"></div>
						</div>
					</div>
					<div class="search-list" v-if="queryArray[0].id == '1'">
						<div class="search-name">处理状态：</div>
						<div class="search-value">
							<select name="" required="required" id="processStatus" v-on:change="search();">
								<option value="">全部</option>
								<option value="1">已处理</option>
								<option value="0">未处理</option>
							</select>
						</div>
					</div>
					<div class="search-btn-box">
						<div class="btn" onclick="search();">查询</div>
						<div class="btn" onclick="reloadPage();">重置</div>
					</div>
				</div>
			</div>
			<div class="kjy-data-box">
				<div class="decorate-list decorate-left-top position-left-top"></div>
				<div class="decorate-list decorate-left-bottom position-left-bottom"></div>
				<div class="decorate-list decorate-right-top position-right-top"></div>
				<div class="decorate-list decorate-right-bottom position-right-bottom"></div>
				<div class="full-box" v-if="dataList.length == 0">
					<div class="no-data-box">
						<div class="no-data-inner-box">
							<div class="icon icon-no-data"></div>
							<div class="no-data-text">暂时没有报警记录哦</div>
						</div>
					</div>
				</div>
				<div class="kjy-data-inner-box" v-else>
					<div class="kjy-table">
						<table v-if="queryArray[0].id == '1'">
							<thead>
								<tr>
									<th>序号</th>
									<th>报警位置</th>
									<th>用户编号</th>
									<th>设备类型</th>
									<th>报警类型</th>
									<th>报警等级</th>
									<th>处理状态</th>
									<th>报警时间</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(t,i) in dataList" v-bind:class="['animated',t.animatedName]">
									<td>{{((pageNo-1)*pageSize)+(i+1)}}</td>
									<td v-bind:title="t.alarmLocation?t.alarmLocation:'无'">{{t.alarmLocation?t.alarmLocation:'无'}}</td>
									<td>{{t.sn}}</td>
									<td>{{t.deviceType}}</td>
									<td>{{t.alarmTypeText}}</td>
									<td v-bind:class="t.alarmLevelClass">{{t.alarmLevelText}}</td>
									<td v-bind:class="t.handleStateClass">{{t.handleStateText}}</td>
									<td>{{t.createTime}}</td>
									<td>
										<ul class="opera-box">
											<li v-on:click="alarmInfo(t);">报警详情</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
						<table v-else-if="queryArray[0].id == '2'">
							<thead>
								<tr>
									<th>序号</th>
									<th>报警位置</th>
									<th>设备名称</th>
									<th>设备编号</th>
									<th>报警类型</th>
									<th>实时数据</th>
									<th>报警时间</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(t,i) in dataList" v-bind:class="['animated',t.animatedName]">
									<td>{{((pageNo-1)*pageSize)+(i+1)}}</td>
									<td v-bind:title="t.alarmLocation?t.alarmLocation:'无'">{{t.alarmLocation?t.alarmLocation:'无'}}</td>
									<td v-bind:title="t.deviceName">{{t.deviceName}}</td>
									<td>{{t.sn}}</td>
									<td>{{t.alarmTypeText}}</td>
									<td>{{t.dataDetail}}</td>
									<td>{{t.createTime}}</td>
									<td>
										<ul class="opera-box">
											<li v-on:click="alarmInfo(t);">报警详情</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
						<table v-else-if="queryArray[0].id == '3' || queryArray[0].id == '4'">
							<thead>
								<tr>
									<th>序号</th>
									<th>报警位置</th>
									<th>设备名称</th>
									<th>设备类型</th>
									<th>设备编号</th>
									<th>报警类型</th>
									<th>报警时间</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="tbody">
								<tr v-for="(t,i) in dataList" v-bind:class="['animated',t.animatedName]">
									<td>{{((pageNo-1)*pageSize)+(i+1)}}</td>
									<td v-bind:title="t.alarmLocation?t.alarmLocation:'无'">{{t.alarmLocation?t.alarmLocation:'无'}}</td>
									<td v-bind:title="t.deviceName">{{t.deviceName}}</td>
									<td>{{t.deviceSubtypeText}}</td>
									<td>{{t.sn}}</td>
									<td>{{t.alarmTypeText}}</td>
									<td>{{t.createTime}}</td>
									<td>
										<ul class="opera-box">
											<li v-on:click="alarmInfo(t);">报警详情</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
						<table v-else>
							<thead>
								<tr>
									<th>序号</th>
									<th>报警位置</th>
									<th>设备名称</th>
									<th>设备编号</th>
									<th>报警时间</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="tbody">
								<tr v-for="(t,i) in dataList" v-bind:class="['animated',t.animatedName]">
									<td>{{((pageNo-1)*pageSize)+(i+1)}}</td>
									<td v-bind:title="t.alarmLocation?t.alarmLocation:'无'">{{t.alarmLocation?t.alarmLocation:'无'}}</td>
									<td v-bind:title="t.deviceName">{{t.deviceName}}</td>
									<td>{{t.sn}}</td>
									<td>{{t.createTime}}</td>
									<td>
										<ul class="opera-box">
											<li v-on:click="alarmInfo(t);">报警详情</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="page-box"></div>
				</div>
			</div>
		</div>
	</body>
	<script>
		param.deviceType = [];
		param.alarmType = [];
		param.queryArray = [];
		loadVue(".v-dom", param);

		$(function() {
			setTime('#startTime', "date", "yyyy-MM-dd");
			setTime('#endTime', "date", "yyyy-MM-dd");
		})

		function alarmInfo(obj) {
			openMask("/parts/alarmInfo", [suitRem(6.88), suitRem(5.44)], function(layerDom, layerIframe) {
				layerIframe.setData.parentData = obj;
			});
		}

		function getQuaryArray(obj, type) {
			if(type == 0) {
				var alarmType = obj.alarmType;
				setData.alarmType = alarmType;
				setData.queryArray = [obj, alarmType[0]];
			} else if(type == 1) {
				setData.queryArray.splice(1, 1, obj);
			}
			search();
		}

		function loadData() {
			var deviceTypeList = setData.deviceType;
			var queryArray = setData.queryArray;
			var deviceType = queryArray[0];
			var deviceTypeId = deviceType.id;
			var alarmTypeList = deviceType.alarmType;
			var alarmType = queryArray[1];
			var param = {
				pageNo: pageNo,
				pageSize: 20,
				alarmType: alarmType.id,
				startTime: resetTime($("#startTime").val(), 0),
				endTime: resetTime($("#endTime").val(), 0)
			}
			if(deviceTypeId == "1") {
				param.eventLvl = $("#eventLvl").val();
				param.processStatus = $("#processStatus").val();
			} else if(deviceTypeId == "3") {
				param.deviceType = "1";
			} else if(deviceTypeId == "4") {
				param.deviceType = "2";
			}
			request("POST", deviceType.alarmRequestUrl, param, true, function(res) {
				var dataList = res.data.dataList;
				resetDataList(function() {
					for(var i = 0; i < dataList.length; i++) {
						dataList[i].animatedName = "fadeInUp";
						dataList[i].deviceTypeId = deviceTypeId;
						for(var j = 0; j < alarmTypeList.length; j++) {
							if(dataList[i].alarmType == alarmTypeList[j].id) {
								dataList[i].alarmTypeText = alarmTypeList[j].name;
							}
						}
						if(deviceTypeId == "1") {
							if(dataList[i].alarmLevel == "1") {
								dataList[i].alarmLevelText = "Ⅰ级";
								dataList[i].alarmLevelClass = "grade-text-color0";
							} else if(dataList[i].alarmLevel == "2") {
								dataList[i].alarmLevelText = "Ⅱ级";
								dataList[i].alarmLevelClass = "grade-text-color1";
							} else if(dataList[i].alarmLevel == "3") {
								dataList[i].alarmLevelText = "Ⅲ级";
								dataList[i].alarmLevelClass = "grade-text-color2";
							}
							if(dataList[i].handleState == "0") {
								dataList[i].handleStateText = "未处理";
								dataList[i].handleStateClass = "";
							} else if(dataList[i].handleState == "1") {
								dataList[i].handleStateText = "已处理";
								dataList[i].handleStateClass = "state-text-color0";
							}
						} else if(deviceTypeId == "3" || deviceTypeId == "4") {
							if(dataList[i].deviceSubtype == "1") {
								dataList[i].deviceSubtypeText = "水压表";
							} else if(dataList[i].deviceSubtype == "2") {
								dataList[i].deviceSubtypeText = "液位表";
							}
						}
					}
					setData.dataList = dataList;
					loadPage();
				})
			}, function(res) {
				top.layer.msg("报警记录加载失败");
			})
		}

		getDeviceType(function(res) {
			for(var i = 0; i < res.length; i++) {
				if(res[i].id == "5" || res[i].id == "6") {
					res.splice(i--, 1);
				}
			}
			setData.deviceType = res;
			getQuaryArray(res[0], 0);
		});
	</script>

</html>