<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>思诺科技消安一体化平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon">
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../css/animate.min.css">
		<link rel="stylesheet" href="../css/common.css?v=46f3e3365b">
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/suitWeb.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/requestUrl.js?v=fb870f73e4"></script>
		<script src="../js/common.js?v=30133f77f6"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box v-dom" v-cloak>
			<div class="search-box">
				<div class="search-row-box">
					<div class="search-list">
						<div class="search-name">点位名称：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="name" placeholder="点位名称">
						</div>
					</div>
					<div class="search-btn-box">
						<div class="btn" onclick="search();">查询</div>
						<div class="btn" onclick="reloadPage();">重置</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn" onclick="checkPoint()">新建</div>
					<div class="btn" onclick="del();">删除</div>
				</div>
			</div>
			<div class="kjy-data-box">
				<div class="decorate-list decorate-left-top position-left-top"></div>
				<div class="decorate-list decorate-left-bottom position-left-bottom"></div>
				<div class="decorate-list decorate-right-top position-right-top"></div>
				<div class="decorate-list decorate-right-bottom position-right-bottom"></div>
				<div class="full-box" v-if="dataList.length == 0">
					<div class="no-data-box">
						<div class="no-data-inner-box">
							<div class="icon icon-no-data"></div>
							<div class="no-data-text">暂时没有巡查点位哦</div>
						</div>
					</div>
				</div>
				<div class="kjy-data-inner-box" v-else>
					<div class="kjy-table">
						<table>
							<thead>
								<tr>
									<th class="padding-left-100">
										<div v-bind:class="['icon','icon-check-box',allIsActive?'icon-checked':'']" v-on:click="selectAllData()"></div>序号</th>
									<th>点位名称</th>
									<th>二维码编码</th>
									<th>NFC编码</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="tbody">
								<tr v-for="(t,i) in dataList" v-bind:class="['animated',t.animatedName]">
									<td class="padding-left-100">
										<div v-bind:class="['icon','icon-check-box',t.isActive?'icon-checked':'']" v-on:click="selectOneData(t)"></div>{{((pageNo-1)*pageSize)+(i+1)}}</td>
									<td v-bind:title="t.name">{{t.name}}</td>
									<td>{{t.qrCode}}</td>
									<td>{{t.nfcCode}}</td>
									<td>
										<ul class="opera-box">
											<li v-on:click="checkPoint(t);">编辑</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="page-box"></div>
				</div>
			</div>
		</div>
	</body>
	<script>
		loadVue(".v-dom", param);

		//新建或编辑
		function checkPoint(obj) {
			openMask("/parts/checkPoint", [suitRem(5.72), suitRem(5)], function(layerDom, layerIframe) {
				if(obj) {
					layerIframe.setData.parentData = obj;
					layerIframe.loadContentList();
					layerDom.find("#name").val(obj.name);
					layerDom.find("#qrCode").val(obj.qrCode);
					layerDom.find("#nfcCode").val(obj.nfcCode);
				} else {
					layerIframe.setData.contentList = [""];
				}
			});
		}

		//删除数据
		function del() {
			if(idList.length == 0) {
				top.layer.msg("请选择巡查点位");
				return false;
			}
			openConfirm("确定删除所选巡查点位吗？", function() {
				var param = {
					idList: idList
				}
				request('POST', '/checkPoint/deleteList.do', param, true, function(res) {
					loadData();
					top.layer.closeAll('dialog');
				}, function(res) {
					top.layer.msg("删除失败");
				})
			})
		}

		//		加载数据
		function loadData() {
			var param = {
				pageNo: pageNo,
				name: $("#name").val()
			};
			request('POST', '/checkPoint/queryList.do', param, true, function(res) {
				var dataList = res.data.dataList;
				resetDataList(function() {
					for(var i = 0; i < dataList.length; i++) {
						dataList[i].isActive = false;
						dataList[i].animatedName = "fadeInUp";
					}
					setData.dataList = dataList;
					setData.allIsActive = false;
					loadPage();
				})
			}, function() {
				top.layer.msg("巡查点位加载失败");
			})
		}

		loadData();
	</script>

</html>