<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>思诺科技消安一体化平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon">
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../css/animate.min.css">
		<link rel="stylesheet" href="../css/common.css?v=10ba9b2e4b">
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=ad4a8fa2e3"></script>
		<script src="../js/common.js?v=0fa2d6115d"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box v-dom" v-cloak>
			<div class="search-box">
				<div class="search-row-box">
					<div class="search-list">
						<div class="search-name">任务名称：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="taskTitle" placeholder="任务名称">
						</div>
					</div>
					<div class="search-list">
						<div class="search-name">负责人：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="chargerName" placeholder="负责人">
						</div>
					</div>
					<div class="search-btn-box">
						<div class="btn" onclick="search();">查询</div>
						<div class="btn" onclick="reloadPage();">重置</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn" onclick="checkTask()">新建</div>
					<div class="btn" onclick="del();">删除</div>
				</div>
			</div>
			<div class="kjy-data-box">
				<div class="decorate-list common-left-top-decorate position-left-top"></div>
				<div class="decorate-list common-left-bottom-decorate position-left-bottom"></div>
				<div class="decorate-list common-right-top-decorate position-right-top"></div>
				<div class="decorate-list common-right-bottom-decorate position-right-bottom"></div>
				<div class="full-box" v-if="dataList.length == 0">
					<div class="no-data-box">
						<div class="no-data-inner-box">
							<div class="icon icon-no-data"></div>
							<div class="no-data-text">暂时没有巡查计划哦</div>
						</div>
					</div>
				</div>
				<div class="kjy-data-inner-box" v-else>
					<div class="kjy-table">
						<table>
							<thead>
								<tr>
									<th class="padding-left-52">
										<div v-bind:class="['icon','icon-check-box',allIsActive?'icon-checked':'']" v-on:click="selectAllData()"></div>序号</th>
									<th>任务名称</th>
									<th>负责人</th>
									<th>创建时间</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="tbody">
								<tr v-for="(t,i) in dataList" v-bind:class="['animated',t.animatedName]">
									<td class="padding-left-52">
										<div v-bind:class="['icon','icon-check-box',t.isActive?'icon-checked':'']" v-on:click="selectOneData(t)"></div>{{((pageNo-1)*pageSize)+(i+1)}}</td>
									<td v-bind:title="t.taskTitle">{{t.taskTitle}}</td>
									<td>{{t.chargerName}}</td>
									<td>{{t.createTime}}</td>
									<td>
										<ul class="opera-box">
											<li v-on:click="checkTask(t)">编辑</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="page-box"></div>
				</div>
			</div>
		</div>
	</body>
	<script>
		loadVue(".v-dom", param);

		//新建或编辑
		function checkTask(obj) {
			openMask("/part/checkTask", ["512px", "368px"], function(layerDom, layerIframe) {
				var date = new Date();
				layerDom.find("#validStartTime").val(resetTime(date, 3));
				layerDom.find("#beginTime").val("08:00:00");
				layerDom.find("#endTime").val("23:59:59");
				if(obj) {
					layerIframe.setData.parentData = obj;
					layerDom.find("#taskMode").val(obj.taskMode).attr("disabled", "disabled");
					layerIframe.selectTaskMode(function() {
						if(obj.taskMode != "0") {
							layerDom.find("#triggerTime").val(obj.triggerTime).attr("disabled", "disabled");
						}
					})
					layerIframe.setData.checkPointIdList = obj.checkPointIdList;
					layerIframe.loadCheckPoint();
					layerDom.find("#taskTitle").val(obj.taskTitle);
					layerDom.find("#accountName").val(obj.chargerName);
					layerDom.find("#accountId").val(obj.chargerId);
					layerDom.find("#validStartTime").val(resetTime(obj.validStartTime, 3)).attr("disabled", "disabled");
					layerDom.find("#validEndTime").val(resetTime(obj.validEndTime, 3)).attr("disabled", "disabled");
					layerDom.find("#beginTime").val(obj.beginTime).attr("disabled", "disabled");
					layerDom.find("#endTime").val(obj.endTime).attr("disabled", "disabled");
					layerDom.find("#lastingDays").val(obj.lastingDays).attr("disabled", "disabled");
				} else {
					layerDom.find(".select-account-btn-box").show();
				}
			})
		}

		//删除数据
		function del() {
			if(idList.length == 0) {
				layer.msg("请选择巡查计划");
				return false;
			}
			openConfirm("确定删除所选巡查计划吗？", function() {
				var param = {
					idList: idList
				}
				request('POST', '/checkTask/delete.do', param, true, function(res) {
					loadData();
					layer.closeAll('dialog');
				}, function(res) {
					layer.msg("删除失败");
				})
			})
		}

		//		加载数据
		function loadData() {
			var param = {
				pageNo: pageNo,
				taskTitle: $("#taskTitle").val(),
				chargerName: $("#chargerName").val()
			};
			request('POST', '/checkTask/queryList.do', param, true, function(res) {
				var dataList = res.data.dataList;
				resetDataList(function() {
					for(var i = 0; i < dataList.length; i++) {
						dataList[i].isActive = false;
						dataList[i].animatedName = "fadeInUp";
					}
					setData.dataList = dataList;
					setData.allIsActive = false;
					loadPage();
				})
			}, function() {
				layer.msg("巡查计划加载失败");
			})
		}

		loadData();
	</script>

</html>