<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>思诺科技消安一体化平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/common.css?v=1c1ac2354f" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/jquery.table2excel.min.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=62b1256164"></script>
		<script src="../js/common.js?v=fab245d574"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box VDOM" v-cloak>
			<div class="search-box">
				<div class="search-list-box">
					<div class="search-list">
						<div class="search-name">任务名称：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="taskTitle" placeholder="输入任务名称" />
						</div>
					</div>
					<div class="search-list">
						<div class="search-name">任务状态：</div>
						<div class="search-value">
							<select name="" id="state" onchange="sreach();">
								<option value="">==请选择任务状态==</option>
								<option value="0">未完成</option>
								<option value="1">已完成</option>
								<option value="2">已逾期</option>
							</select>
						</div>
					</div>
					<div class="search-list">
						<div class="search-name">创建人姓名：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="creatorName" placeholder="输入创建人姓名" />
						</div>
					</div>
					<div class="search-list">
						<div class="search-name">负责人姓名：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="charger" placeholder="输入负责人姓名" />
						</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn" onclick="sreach();">查询</div>
					<div class="btn" onclick="del();">删除</div>
					<div class="btn" onclick="reloadPage();">重置</div>
				</div>
			</div>
			<div class="kjy-data-box">
				<div class="full-box" v-if="dataList.length == 0">
					<div class="no-data-box">
						<div class="icon icon-no-data"></div>
						<div class="no-data-text">暂时没有任务记录哦</div>
					</div>
				</div>
				<div class="kjy-table" v-else>
					<table>
						<thead>
							<tr>
								<th class="padding20">
									<div v-bind:class="['no-check',allIsActive?'checked':'']" v-on:click="selectAllData()"></div>序号</th>
								<th>任务名称</th>
								<th>任务状态</th>
								<th>任务日期</th>
								<th>开始时间</th>
								<th>结束时间</th>
								<th>提醒方式</th>
								<th>持续天数（天）</th>
								<th>创建人</th>
								<th>负责人</th>
								<th>是否紧急</th>
								<th>操作</th>
							</tr>
						</thead>

						<tbody id="tbody">
							<tr v-for="(t,i) in dataList">
								<td class="padding20">
									<div v-bind:class="['no-check',t.isActive?'checked':'']" v-on:click="selectOneData(t)"></div>{{((currentPage-1)*20)+(i+1)}}</td>
								<td>{{t.taskTitle}}</td>
								<td>{{t.stateText}}</td>
								<td>{{t.startTime | resetTime(3)}}</td>
								<td>{{t.beginTime}}</td>
								<td>{{t.endTime}}</td>
								<td>{{t.alertModeText}}</td>
								<td>{{t.lastingDays}}</td>
								<td>
									<p>{{t.creatorName}}</p>
									<p>{{t.creatorTelephone}}</p>
								</td>
								<td>
									<p>{{t.charger}}</p>
									<p>{{t.chargerTelephone}}</p>
								</td>
								<td>{{t.urgencyText}}</td>
								<td>
									<div class="btn icon icon-details" v-on:click="checkResultExecution(t);">完成结果</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="page-box">
				<div class="page-inner-box">
					<div class="icon icon-first-page" onclick="firstPage()">首页</div>
					<div class="icon icon-before-page" onclick="beforePage();">上一页</div>
					<div class="icon icon-next-page" onclick="nextPage();">下一页</div>
					<div class="icon icon-last-page" onclick="lastPage();">末页</div>
					<div class="default page-input">第<input type="text" name="" v-bind:value="currentPage" />页</div>
					<div class="icon icon-next-page" onclick="jumpPage();">跳转</div>
					<div class="default">共<span>{{totalPage}}</span>页</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		loadVue(param);
		//新建或编辑
		function checkResultExecution(obj) {
			if(obj.state == "0" || obj.state == "2") {
				if(obj.state == "0") {
					layer.msg("该任务未完成");
				} else {
					layer.msg("该任务已逾期");
				}
				return false;
			}
			openMask(obj.id, "../part/checkResultExecution", obj.taskTitle + "完成结果", "650px", "500px", function(layerDom, layerIframe) {
				var standardExecutionList = obj.standardExecutionList;
				for(var a = 0; a < standardExecutionList.length; a++) {
					var resultExecutionList = standardExecutionList[a].resultExecutionList;
					for(var b = 0; b < resultExecutionList.length; b++) {
						var checkImageList = resultExecutionList[b].checkImageList;
						for(var c = 0; c < checkImageList.length; c++) {
							checkImageList[c] = imgUrl + checkImageList[c];
						}
					}
				}
				layerIframe[0].contentWindow.loadCheckResultExecution(obj);
			})
		}

		//删除数据
		function del() {
			delData("确定删除所选任务记录吗？", function(param) {
				request('POST', '/property/checkTaskExecution/delete.do', param, true, function(res) {
					loadData();
					layer.closeAll('dialog');
				}, function(res) {
					layer.msg("删除失败，请检查网络或重试");
				})
			})
		}

		//		加载数据
		function loadData() {
			var param = {
				pageNo: pageNo,
				taskTitle: $("#taskTitle").val(),
				creatorName: $("#creatorName").val(),
				state: $("#state").val(),
				charger: $("#charger").val(),
				urgency: $("#urgency").val()
			};
			request('POST', '/property/checkTaskExecution/queryList.do', param, true, function(res) {
				var dataList = res.data;
				for(var i = 0; i < dataList.length; i++) {
					dataList[i].isActive = false;
					if(dataList[i].state == 0) {
						dataList[i].stateText = "未完成";
					} else if(dataList[i].state == 1) {
						dataList[i].stateText = "已完成";
					} else if(dataList[i].state == 2) {
						dataList[i].stateText = "已逾期";
					}
					if(dataList[i].urgency == 0) {
						dataList[i].urgencyText = "否";
					} else if(dataList[i].urgency == 1) {
						dataList[i].urgencyText = "是";
					}
					if(dataList[i].alertMode == 0) {
						dataList[i].alertModeText = "无";
					} else if(dataList[i].alertMode == 1) {
						dataList[i].alertModeText = "任务开始时";
					} else if(dataList[i].alertMode == 2) {
						dataList[i].alertModeText = "提前15分钟";
					} else if(dataList[i].alertMode == 3) {
						dataList[i].alertModeText = "提前30分钟";
					} else if(dataList[i].alertMode == 4) {
						dataList[i].alertModeText = "提前1小时";
					}
				}
				setData.dataList = dataList;
				setData.allIsActive = false;
			}, function(res) {
				layer.msg("任务记录加载失败");
			})
		}

		loadData();
	</script>

</html>