<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>思诺科技消安一体化平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon">
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../layui/css/layui.css" />
		<link rel="stylesheet" href="../css/animate.min.css">
		<link rel="stylesheet" href="../css/common.css?v=46f3e3365b">
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/suitWeb.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/requestUrl.js?v=fb870f73e4"></script>
		<script src="../js/common.js?v=30133f77f6"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box v-dom" v-cloak>
			<div class="search-box">
				<div class="search-row-box">
					<div class="search-list">
						<div class="search-name">设备地址：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="deviceAddress" placeholder="设备地址">
						</div>
					</div>
					<div class="search-list">
						<div class="search-name">设备类型：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="deviceName" placeholder="设备类型">
						</div>
					</div>
					<div class="search-list">
						<div class="search-name">用户编号：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="deviceSN" placeholder="设备编号">
						</div>
					</div>
					<div class="search-list">
						<div class="search-name">设备状态：</div>
						<div class="search-value">
							<select name="" required="required" id="deviceStatus" onchange="search();">
								<option value="">全部</option>
								<option value="0">正常</option>
								<option value="8">手动报警</option>
								<option v-bind:value="t.id" v-for="t in deviceTypeInfo.alarmType">{{t.name}}</option>
							</select>
						</div>
					</div>
					<div class="search-btn-box">
						<div class="btn" onclick="search();">查询</div>
						<div class="btn" onclick="reloadPage();">重置</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn export-file">导入</div>
				</div>
			</div>
			<div class="kjy-data-box">
				<div class="decorate-list decorate-left-top position-left-top"></div>
				<div class="decorate-list decorate-left-bottom position-left-bottom"></div>
				<div class="decorate-list decorate-right-top position-right-top"></div>
				<div class="decorate-list decorate-right-bottom position-right-bottom"></div>
				<div class="full-box" v-if="dataList.length == 0">
					<div class="no-data-box">
						<div class="no-data-inner-box">
							<div class="icon icon-no-data"></div>
							<div class="no-data-text">暂时没有火灾报警设备哦</div>
						</div>
					</div>
				</div>
				<div class="kjy-data-inner-box" v-else>
					<div class="kjy-table">
						<table>
							<thead>
								<tr>
									<th>序号</th>
									<th>设备类型</th>
									<th>用户编号</th>
									<th>主机编号</th>
									<th>回路</th>
									<th>一次码</th>
									<th>设备地址</th>
									<th>设备状态</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="tbody">
								<tr v-for="(t,i) in dataList" v-bind:class="['animated',t.animatedName]">
									<td>{{((pageNo-1)*pageSize)+(i+1)}}</td>
									<td v-bind:title="t.name">{{t.name}}</td>
									<td>{{t.sn}}</td>
									<td>{{t.mn}}</td>
									<td>{{t.loopCode}}</td>
									<td>{{t.onceCode}}</td>
									<td v-bind:title="t.location?t.location:'无'">{{t.location?t.location:'无'}}</td>
									<td>{{t.status?t.statusText:'无'}}</td>
									<td>
										<ul class="opera-box">
											<li v-on:click="deviceAlarmRecord(t);">报警记录</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="page-box"></div>
				</div>
			</div>
		</div>
	</body>
	<script>
		param.deviceTypeInfo = {};
		loadVue(".v-dom", param);

		function deviceAlarmRecord(obj) {
			openMask("/parts/deviceAlarmRecord", ["80%", "80%"], function(layerDom, layerIframe) {
				layerIframe.setData.deviceTypeInfo = setData.deviceTypeInfo;
				layerIframe.setData.parentData = obj;
				layerIframe.loadData();
			})
		}

		function loadData() {
			var deviceTypeInfo = setData.deviceTypeInfo;
			var alarmType = deviceTypeInfo.alarmType;
			var param = {
				pageNo: pageNo,
				pageSize: 20,
				deviceAddress: $("#deviceAddress").val(),
				deviceName: $("#deviceName").val(),
				deviceSN: $("#deviceSN").val(),
				deviceStatus: $("#deviceStatus").val()
			}
			request("POST", deviceTypeInfo.deviceRequestUrl, param, true, function(res) {
				var dataList = res.data.dataList;
				resetDataList(function() {
					for(var i = 0; i < dataList.length; i++) {
						dataList[i].animatedName = "fadeInUp";
						if(dataList[i].status == "0") {
							dataList[i].statusText = "正常";
						} else if(dataList[i].status == "8") {
							dataList[i].statusText = "手动报警";
						} else {
							for(var j = 0; j < alarmType.length; j++) {
								if(dataList[i].status == alarmType[j].id) {
									dataList[i].statusText = alarmType[j].name;
								}
							}
						}
					}
					setData.dataList = dataList;
					loadPage();
				})
			}, function(res) {
				top.layer.msg("火灾报警设备加载失败");
			});
		}

		function importDeviceFireAlarm() {
			var param = {};
			importRequest(".export-file", "POST", "/device/v1/addFireAlarmDevice", param, function(res) {
				top.layer.msg("导入成功");
				loadData();
			}, function(res) {
				top.layer.msg("导入失败，请检查网络或重试");
			});
		}

		getDeviceType(function(res) {
			for(var i = 0; i < res.length; i++) {
				if(res[i].id == "1") {
					setData.deviceTypeInfo = res[i];
					loadData();
				}
			}
		});
		importDeviceFireAlarm();
	</script>

</html>