<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>思诺科技消安一体化平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon">
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../css/animate.min.css">
		<link rel="stylesheet" href="../css/common.css?v=46f3e3365b">
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/suitWeb.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/requestUrl.js?v=fb870f73e4"></script>
		<script src="../js/common.js?v=30133f77f6"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box kjy-content-box v-dom" v-cloak>
			<div class="kjy-title-box">
				<div class="kjy-title-text">我的设备</div>
			</div>
			<div class="search-box">
				<div class="search-row-box">
					<div class="search-list">
						<div class="search-name">设备名称：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="deviceName" placeholder="设备名称">
						</div>
					</div>
					<div class="search-list">
						<div class="search-name">设备类型：</div>
						<div class="search-value">
							<select name="" required="required" id="deviceTypeId" onchange="search();">
								<option value="">全部</option>
								<option v-bind:value="t.id" v-for="t in deviceType">{{t.name}}</option>
							</select>
						</div>
					</div>
					<div class="search-list">
						<div class="search-name">设备分组：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="deviceRegion" placeholder="设备分组">
						</div>
					</div>
					<div class="search-list">
						<div class="search-name">设备地址：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="deviceAddress" placeholder="设备地址">
						</div>
					</div>
					<div class="search-list">
						<div class="search-name">设备状态：</div>
						<div class="search-value">
							<select name="" required="required" id="deviceStatus" onchange="search();">
								<option value="">全部</option>
								<option value="1">在线</option>
								<option value="0">离线</option>
								<option value="2">故障</option>
							</select>
						</div>
					</div>
					<div class="search-btn-box">
						<div class="btn" onclick="search();">查询</div>
						<div class="btn" onclick="reloadPage();">重置</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn" onclick="syncDevice();">同步</div>
				</div>
			</div>
			<div class="kjy-data-box">
				<div class="decorate-list decorate-left-top position-left-top"></div>
				<div class="decorate-list decorate-left-bottom position-left-bottom"></div>
				<div class="decorate-list decorate-right-top position-right-top"></div>
				<div class="decorate-list decorate-right-bottom position-right-bottom"></div>
				<div class="full-box" v-if="dataList.length == 0">
					<div class="no-data-box">
						<div class="no-data-inner-box">
							<div class="icon icon-no-data"></div>
							<div class="no-data-text">暂时没有设备记录哦</div>
						</div>
					</div>
				</div>
				<div class="kjy-data-inner-box" v-else>
					<div class="kjy-table">
						<table>
							<thead>
								<tr>
									<th>序号</th>
									<th>设备名称</th>
									<th>设备编码</th>
									<th>设备类型</th>
									<th>设备分组</th>
									<th>设备地址</th>
									<th>设备状态</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="tbody">
								<tr v-for="(t,i) in dataList" v-bind:class="['animated',t.animatedName]">
									<td>{{((pageNo-1)*pageSize)+(i+1)}}</td>
									<td v-bind:title="t.deviceName">{{t.deviceName}}</td>
									<td>{{t.deviceCode?t.deviceCode:'无'}}</td>
									<td>{{t.deviceTypeName}}</td>
									<td>{{t.regionPathName}}</td>
									<td v-bind:title="t.installLocation?t.installLocation:'无'">{{t.installLocation?t.installLocation:'无'}}</td>
									<td>{{t.statusText}}</td>
									<td>
										<ul class="opera-box">
											<li v-on:click="deviceEventRecord(t);">报警记录</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="page-box"></div>
				</div>
			</div>
		</div>
	</body>
	<script>
		param.deviceType = [];
		loadVue(".v-dom", param);

		function deviceEventRecord(obj) {
			openMask("/parts/deviceAlarmRecord", ["80%", "80%"], function(layerDom, layerIframe) {
				layerIframe.setData.indexCode = obj.indexCode;
				layerIframe.setData.deviceLogo = obj.deviceLogo;
				layerIframe.setData.deviceType = obj.deviceTypeId;
				layerIframe.loadData();
			})
		}

		function syncDevice() {
			var param = {};
			//			request("POST", "/device/v1/syncDevice", param, true, function(res) {
			//				layer.msg("同步成功");
			//				loadData();
			//			}, function(res) {
			//				layer.msg("同步失败");
			//			});
			top.layer.msg("该功能未开放");
		}

		function loadData() {
			var param = {
				pageNo: pageNo,
				pageSize: 20,
				deviceName: $("#deviceName").val(),
				deviceTypeId: $("#deviceTypeId").val(),
				deviceRegion: $("#deviceRegion").val(),
				deviceAddress: $("#deviceAddress").val(),
				deviceStatus: $("#deviceStatus").val()
			}
			request("POST", "/device/v1/findDeviceList", param, true, function(res) {
				var dataList = res.data.dataList;
				resetDataList(function() {
					for(var i = 0; i < dataList.length; i++) {
						dataList[i].animatedName = "fadeInUp";
						if(dataList[i].status == "0") {
							dataList[i].statusText = "离线";
						} else if(dataList[i].status == "1") {
							dataList[i].statusText = "在线";
						} else if(dataList[i].status == "2") {
							dataList[i].statusText = "故障";
						}
					}
					setData.dataList = dataList;
					loadPage();
				})
			}, function(res) {
				top.layer.msg("设备记录加载失败");
			});
		}

		function loadAlarmType() {
			var param = {};
			request("POST", "/alarmEvent/v1/findAlarmType", param, true, function(res) {
				setData.deviceType = res.data;
			}, function(res) {
				top.layer.msg("设备类型加载失败");
			});
		}

//		loadData();
//		loadAlarmType();
	</script>

</html>