<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>思诺科技消安一体化平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon">
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../css/common.css?v=88d3f5c183">
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/hls.min.js"></script>
		<script src="../js/postUrl.js?v=b3167ffa28"></script>
		<script src="../js/common.js?v=8bdd65fff2"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box kjy-content-box v-dom" v-cloak>
			<div class="kjy-title-box">
				<div class="kjy-title-text">视频监控</div>
			</div>
			<div class="opera-list-box">
				<div class="opera-list opera-left-box">
					<div class="opera-list-inner-box">
						<div class="search-box">
							<div class="search-row-box"><input type="text" name="" value="" id="regionName" placeholder="关键词" oninput="search();" class="full-width">
								<div class="icon icon-search"></div>
							</div>
						</div>
						<div class="full-box" v-if="allIsActive">
							<div class="no-data-box">
								<div class="no-data-inner-box">
									<div class="icon icon-no-data"></div>
									<div class="no-data-text">暂时没有监控点哦</div>
								</div>
							</div>
						</div>
						<div class="fold-box" v-else>
							<div class="fold-list-box" v-for="t in dataList" v-if="t.cameraList.length > 0">
								<div class="fold-title-box" v-on:click="switchActive(t);">
									<div v-bind:class="['fold-title-text-box',t.isActive?'selected':'']">{{t.name}}</div>
									<div v-bind:class="['icon',t.isActive?'icon-fold-open':'icon-fold-no-open']"></div>
								</div>
								<div class="fold-content-box" v-if="t.isActive">
									<ul>
										<li v-bind:class="cameraInfo.indexCode == t.indexCode?'selected':''" v-for="t in t.cameraList" v-on:click="tabCamera(t);">{{t.deviceName}}</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="opera-list opera-right-box">
					<div class="opera-list-inner-box">
						<div class="opera-video-box">
							<div class="video-box">
								<video src="" controls="controls" autoplay="autoplay" id="video"></video>
							</div>
							<div class="btn-box">
								<div class="btn-inner-box">
									<div class="btn" onclick="manualCapture();">抓图</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		param.cameraInfo = {};
		loadVue(".v-dom", param);

		//加载区域	
		function loadData() {
			var param = {
				path: "/api/resource/v1/regions/root",
				param: {}
			}
			hikRequest(param, true, function(res) {
				var indexCode = res.data.indexCode;
				var param = {
					path: "/api/irds/v2/region/nodesByParams",
					param: {
						resourceType: "region",
						regionName: $("#regionName").val(),
						parentIndexCodes: [
							indexCode
						],
						pageNo: pageNo,
						pageSize: 1000
					}
				}
				hikRequest(param, false, function(res) {
					var regionList = res.data.list;
					for(var i = 0; i < regionList.length; i++) {
						regionList[i].isActive = true;
						regionList[i].cameraList = [];
					}
					loadCamera(regionList);
				})
			})
		}

		//加载监控点
		function loadCamera(regionList) {
			var param = {
				pageNo: pageNo,
				pageSize: 1000,
				deviceLogo: "2"
			}
			request("POST", "/device/v1/findDeviceList", param, true, function(res) {
				var dataList = res.data.dataList;
				for(var i = 0; i < regionList.length; i++) {
					for(var j = 0; j < dataList.length; j++) {
						if(regionList[i].indexCode == dataList[j].regionIndexCode) {
							regionList[i].cameraList.push(dataList[j]);
						}
					}
				}
				setData.dataList = regionList;
				if(regionList[0].cameraList.length == 0) {
					setData.allIsActive = true;
					return false;
				}
				setData.allIsActive = false;
				tabCamera(regionList[0].cameraList[0]);
			}, function(res) {
				layer.msg("设备记录加载失败");
			});
		}

		//切换监控点
		function tabCamera(obj) {
			setData.cameraInfo = obj;
			getPreviewUrl();
		}

		//获取视频流
		function getPreviewUrl() {
			var cameraInfo = setData.cameraInfo;
			var param = {
				path: "/api/video/v1/cameras/previewURLs",
				param: {
					cameraIndexCode: cameraInfo.indexCode,
					protocol: "hls"
				}
			}
			hikRequest(param, true, function(res) {
				var videoUrl = res.data.url;
				if(Hls.isSupported()) {
					var video = $("#video").get(0);
					var hls = new Hls();
					hls.loadSource(videoUrl);
					hls.attachMedia(video);
				}
			})
		}

		//抓图
		function manualCapture() {
			var cameraInfo = setData.cameraInfo;
			var param = {
				path: "/api/video/v1/manualCapture",
				param: {
					cameraIndexCode: cameraInfo.indexCode
				}
			}
			hikRequest(param, true, function(res) {
				openMask("/part/videoImage", ["500px", "380px"], function(layerDom, layerIframe) {
					layerIframe.setData.picUrl = res.data.picUrl;
				});
			})
		}

		loadData();
	</script>

</html>