<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>思诺科技消安一体化平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon">
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../css/animate.min.css">
		<link rel="stylesheet" href="../css/common.css?v=10ba9b2e4b">
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=46a09142d2"></script>
		<script src="../js/common.js?v=18e3c83b9f"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box kjy-content-box v-dom" v-cloak>
			<div class="kjy-title-box">
				<div class="kjy-title-text">工单管理</div>
			</div>
			<div class="search-box">
				<div class="search-row-box">
					<div class="search-list">
						<div class="search-name">创建人：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="creatorName" placeholder="创建人">
						</div>
					</div>
					<div class="search-list">
						<div class="search-name">负责人：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="charger" placeholder="负责人">
						</div>
					</div>
					<div class="search-list">
						<div class="search-name">工单类型：</div>
						<div class="search-value">
							<select name="" required="required" id="orderReason" onchange="search();">
								<option value="">工单类型</option>
								<option value="0">设备故障</option>
								<option value="1">设备维修</option>
								<option value="2">环境干扰</option>
								<option value="3">其他</option>
							</select>
						</div>
					</div>
					<div class="search-list">
						<div class="search-name">工单状态：</div>
						<div class="search-value">
							<select name="" required="required" id="state" onchange="search();">
								<option value="">工单状态</option>
								<option value="0">待分派</option>
								<option value="1">已接单</option>
								<option value="2">处理中</option>
								<option value="3">已完成</option>
								<option value="4">已关闭</option>
							</select>
						</div>
					</div>
					<div class="search-btn-box">
						<div class="btn" onclick="search();">查询</div>
						<div class="btn" onclick="reloadPage();">重置</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn" onclick="workOrder();">新建</div>
					<div class="btn" onclick="del();">删除</div>
				</div>
			</div>
			<div class="kjy-data-box">
				<div class="decorate-list common-left-top-decorate position-left-top"></div>
				<div class="decorate-list common-left-bottom-decorate position-left-bottom"></div>
				<div class="decorate-list common-right-top-decorate position-right-top"></div>
				<div class="decorate-list common-right-bottom-decorate position-right-bottom"></div>
				<div class="full-box" v-if="dataList.length == 0">
					<div class="no-data-box">
						<div class="no-data-inner-box">
							<div class="icon icon-no-data"></div>
							<div class="no-data-text">暂时没有工单记录哦</div>
						</div>
					</div>
				</div>
				<div class="kjy-data-inner-box" v-else>
					<div class="kjy-table">
						<table>
							<thead>
								<tr>
									<th class="padding-left-52">
										<div v-bind:class="['icon','icon-check-box',allIsActive?'icon-checked':'']" v-on:click="selectAllData()"></div>序号</th>
									<th>工单类型</th>
									<th>工单状态</th>
									<th>工单地址</th>
									<th>工单详情</th>
									<th>计划结束时间</th>
									<th>创建人</th>
									<th>负责人</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="tbody">
								<tr v-for="(t,i) in dataList" v-bind:class="['animated',t.animatedName]">
									<td class="padding-left-52">
										<div v-bind:class="['icon','icon-check-box',t.isActive?'icon-checked':'']" v-on:click="selectOneData(t)"></div>{{((pageNo-1)*pageSize)+(i+1)}}</td>
									<td>{{t.orderReasonText}}</td>
									<td>{{t.stateText}}</td>
									<td v-bind:title="t.orderAddress?t.orderAddress:'无'">{{t.orderAddress?t.orderAddress:'无'}}</td>
									<td v-bind:title="t.orderDetail">{{t.orderDetail}}</td>
									<td>{{t.scheduleEndTime}}</td>
									<td>{{t.creatorName?t.creatorName:'无'}}</td>
									<td>{{t.charger?t.charger:'无'}}</td>
									<td>
										<ul class="opera-box">
											<li v-on:click="workOrderSpeed(t);">处理进度</li>
											<li v-if="t.state < 2" v-on:click="closeOrder(t);">关闭</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="page-box"></div>
				</div>
			</div>
		</div>
	</body>
	<script>
		loadVue(".v-dom", param);

		function workOrder() {
			openMask("/part/workOrder", ["480px", "380px"], function(layerDom, layerIframe) {
				layerDom.find(".select-device-btn-box").show();
			});
		}

		function closeOrder(obj) {
			openMask("/part/closeOrder", ["480px", "236px"], function(layerDom, layerIframe) {
				layerIframe.setData.parentData = obj;
			})
		}

		function workOrderSpeed(obj) {
			var param = {
				id: obj.id
			}
			request("POST", "/workOrder/queryEventList.do", param, true, function(res) {
				var eventList = res.data.reverse();
				obj.eventList = eventList;
				openMask("/part/workOrderSpeed", ["515px", "430px"], function(layerDom, layerIframe) {
					layerIframe.setData.parentData = obj;
				});
			}, function(res) {
				layer.msg("处理进度加载失败");
			})
		}

		//删除数据
		function del() {
			if(idList.length == 0) {
				layer.msg("请选择工单");
				return false;
			}
			openConfirm("确定删除所选工单吗？", function() {
				var param = {
					idList: idList
				}
				request('POST', '/workOrder/delete.do', param, true, function(res) {
					loadData();
					layer.closeAll('dialog');
				}, function(res) {
					layer.msg("删除失败");
				})
			})
		}

		//		加载数据
		function loadData() {
			var param = {
				pageNo: pageNo,
				creatorName: $("#creatorName").val(),
				orderReason: $("#orderReason").val(),
				state: $("#state").val(),
				charger: $("#charger").val()
			};
			request('POST', '/workOrder/queryList.do', param, true, function(res) {
				var dataList = res.data.dataList;
				resetDataList(function() {
					for(var i = 0; i < dataList.length; i++) {
						dataList[i].isActive = false;
						dataList[i].animatedName = "fadeInUp";
						if(dataList[i].orderReason == "0") {
							dataList[i].orderReasonText = "设备故障";
						} else if(dataList[i].orderReason == "1") {
							dataList[i].orderReasonText = "设备维修";
						} else if(dataList[i].orderReason == "2") {
							dataList[i].orderReasonText = "环境干扰";
						} else if(dataList[i].orderReason == "3") {
							dataList[i].orderReasonText = "其他";
						}
						if(dataList[i].state == 0) {
							dataList[i].stateText = "待分派";
						} else if(dataList[i].state == 1) {
							dataList[i].stateText = "已接单";
						} else if(dataList[i].state == 2) {
							dataList[i].stateText = "处理中";
						} else if(dataList[i].state == 3) {
							dataList[i].stateText = "已完成";
						} else if(dataList[i].state == 4) {
							dataList[i].stateText = "已关闭";
						}
					}
					setData.dataList = dataList;
					setData.allIsActive = false;
					loadPage();
				})
			}, function(res) {
				layer.msg("工单记录加载失败");
			})
		}
		loadData();
	</script>

</html>